<template>
  <div class="wrapper">
    <div class="form-wrapper">
      <b-row class="h-100 no-gutters position-relative">
        <b-col md="6" class="form-background d-none d-md-block">
          <div class="ml-5 my-5 text-white">
            <nuxt-link to="/" style="text-decoration: none; color: #fff;">
              <h3>{{ $t('form.brand') | upper }}</h3>
            </nuxt-link>

            <p>{{ $t('form.quote') }}</p>
          </div>
        </b-col>
        <b-col md="6" class="p-4">
          <div class="text-center my-5">
            <h2>{{ $t('form.login') | upper }}</h2>
          </div>
          <ValidationObserver v-slot="{ handleSubmit }">
            <b-form @submit.prevent="handleSubmit(onSubmit)">
              <!-- Email -->
              <ValidationProvider
                v-slot="{ errors }"
                mode="lazy"
                rules="required|email"
              >
                <b-form-group>
                  <b-input-group>
                    <template v-slot:prepend>
                      <b-input-group-text>
                        <fa :icon="['far', 'envelope']" />
                      </b-input-group-text>
                    </template>
                    <b-form-input
                      v-model="email"
                      :disabled="processing"
                      :placeholder="$t('form.email')"
                    ></b-form-input>
                  </b-input-group>
                  <p class="text-danger">
                    {{ $t(errors[0]) }}
                  </p>
                </b-form-group>
              </ValidationProvider>
              <!-- Password -->
              <ValidationProvider
                v-slot="{ errors }"
                mode="lazy"
                rules="required|min:6"
              >
                <b-form-group>
                  <b-input-group>
                    <template v-slot:prepend>
                      <b-input-group-text>
                        <fa :icon="['fas', 'lock']" />
                      </b-input-group-text>
                    </template>
                    <b-form-input
                      v-model="password"
                      type="password"
                      :disabled="processing"
                      :placeholder="$t('form.password')"
                    ></b-form-input>
                  </b-input-group>
                  <p class="text-danger">
                    {{ $t(errors[0]) }}
                  </p>
                </b-form-group>
              </ValidationProvider>
              <b-button
                class="w-100"
                variant="gray"
                type="submit"
                size="sm"
                :disabled="processing"
              >
                <b-spinner v-if="processing" small type="grow"></b-spinner>
                <span v-if="processing">{{ $t('action.loading') }}</span>
                <span v-if="!processing"> {{ $t('action.login') }}</span>
              </b-button>
              <hr class="text-gray" />

              <p class="text-center">
                {{ $t('form.member-ask') }}
                <nuxt-link to="/app/auth/register">
                  {{ $t('form.sign-up-here') }}
                </nuxt-link>
              </p>
            </b-form>
          </ValidationObserver>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  data() {
    return {
      email: '',
      password: '',
      processing: false
    }
  },
  created() {
    // Just to make sure the token is deleted
    if (process.client) {
      Cookie.remove('token')
    }
  },
  middleware: 'AuthNotRequired',
  methods: {
    async onSubmit() {
      try {
        this.processing = true
        const loginResponse = await this.$axios.post('/signin', {
          email: this.email,
          password: this.password
        })
        if (loginResponse.data.error == undefined) {
          // Call API to get user info
          const userResponse = await this.$axios.get('/auth/me', {
            headers: {
              'x-access-token': loginResponse.data.data.accessToken
            }
          })
          if (userResponse.data.data.isActive) {
            // Save token in cookie
            Cookie.set('token', loginResponse.data.data.accessToken, {
              expires: 1
            })
            this.$store.commit(
              'user/SET_TOKEN',
              loginResponse.data.data.accessToken
            )
            this.$store.commit('user/SET_USER', userResponse.data.data)
            this.$router.push('/')
          }
        } else {
          this.notifyToast(
            'error',
            'error.loginFailed',
            loginResponse.data.error.message
          )
          this.processing = false
        }
      } catch (error) {
        this.notifyToast('error', 'error.loginFailed', 'error.server')
        this.processing = false
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  height: 100vh;
  width: 100%;
  background-image: url('~@/assets/img/gradient-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-wrapper {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 520px;
  background-color: $white;
  color: $black;
  box-shadow: $shadow-darker;
}
.form-background {
  overflow: hidden;
  background-image: url('~@/assets/img/technology-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767.98px) {
  .form-wrapper {
    width: 350px;
  }
}
</style>
