<template>
  <div class="wrapper">
    <div class="form-wrapper">
      <b-row class="h-100 no-gutters position-relative">
        <b-col md="6" class="form-background d-none d-md-block">
          <div class="ml-5 my-5 text-white">
            <nuxt-link to="/" style="text-decoration: none; color: #fff;">
              <h3>{{ $t('form.brand') | upper }}</h3>
            </nuxt-link>
            <p>{{ $t('form.quote') }}</p>
          </div>
        </b-col>
        <b-col md="6" class="p-4">
          <div class="text-center my-5">
            <h2>{{ $t('form.register') | upper }}</h2>
          </div>
          <ValidationObserver v-slot="{ handleSubmit }">
            <b-form @submit.prevent="handleSubmit(onSubmit)">
              <!-- Name -->
              <ValidationProvider
                v-slot="{ errors }"
                mode="lazy"
                rules="required|min:6"
              >
                <b-form-group>
                  <b-input-group>
                    <template v-slot:prepend>
                      <b-input-group-text>
                        <fa :icon="['far', 'user']" />
                      </b-input-group-text>
                    </template>
                    <b-form-input
                      v-model="name"
                      type="text"
                      :disabled="processing"
                      :placeholder="$t('form.name')"
                    ></b-form-input>
                  </b-input-group>
                  <p class="text-danger">
                    {{ $t(errors[0]) }}
                  </p>
                </b-form-group>
              </ValidationProvider>
              <!-- Email -->
              <ValidationProvider
                v-slot="{ errors }"
                mode="lazy"
                rules="required|email"
              >
                <b-form-group>
                  <b-input-group>
                    <template v-slot:prepend>
                      <b-input-group-text>
                        <fa :icon="['far', 'envelope']" />
                      </b-input-group-text>
                    </template>
                    <b-form-input
                      v-model="email"
                      :disabled="processing"
                      :placeholder="$t('form.email')"
                    ></b-form-input>
                  </b-input-group>
                  <p class="text-danger">
                    {{ $t(errors[0]) }}
                  </p>
                </b-form-group>
              </ValidationProvider>
              <!-- Gender -->
              <ValidationProvider
                v-slot="{ errors }"
                mode="lazy"
                rules="required"
              >
                <b-form-group>
                  <b-input-group>
                    <template v-slot:prepend>
                      <b-input-group-text>
                        <fa :icon="['fas', 'venus-mars']" />
                      </b-input-group-text>
                    </template>
                    <b-form-select
                      v-model="selectedGender"
                      :options="genderOptions"
                      :disabled="processing"
                    ></b-form-select>
                  </b-input-group>
                  <p class="text-danger">
                    {{ $t(errors[0]) }}
                  </p>
                </b-form-group>
              </ValidationProvider>
              <!-- Password -->
              <ValidationProvider
                v-slot="{ errors }"
                mode="lazy"
                rules="required|min:6"
              >
                <b-form-group>
                  <b-input-group>
                    <template v-slot:prepend>
                      <b-input-group-text>
                        <fa :icon="['fas', 'lock']" />
                      </b-input-group-text>
                    </template>
                    <b-form-input
                      v-model="password"
                      type="password"
                      :disabled="processing"
                      :placeholder="$t('form.password')"
                    ></b-form-input>
                  </b-input-group>
                  <p class="text-danger">
                    {{ $t(errors[0]) }}
                  </p>
                </b-form-group>
              </ValidationProvider>
              <b-button
                class="w-100"
                variant="gray"
                type="submit"
                size="sm"
                :disabled="processing"
              >
                <b-spinner v-if="processing" small type="grow"></b-spinner>
                <span v-if="processing">{{ $t('action.loading') }}</span>
                <span v-if="!processing"> {{ $t('form.register') }}</span>
              </b-button>
              <hr class="text-gray" />
              <p class="text-center">
                {{ $t('form.already-member') }}
                <nuxt-link to="/app/auth/login">
                  {{ $t('form.sign-in-here') }}
                </nuxt-link>
              </p>
            </b-form>
          </ValidationObserver>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  data() {
    return {
      name: '',
      email: '',
      password: '',
      selectedGender: null,
      genderOptions: [
        {
          value: null,
          text: this.$t('placeholder.gender'),
          disabled: true
        },
        { value: true, text: this.$t('gender.male') },
        { value: false, text: this.$t('gender.female') }
      ],
      processing: false
    }
  },
  created() {
    // Just to make sure the token is deleted
    if (process.client) {
      Cookie.remove('token')
    }
  },
  middleware: 'AuthNotRequired',
  methods: {
    async onSubmit() {
      try {
        this.processing = true
        const response = await this.$axios.post('/register', {
          email: this.email,
          name: this.name,
          password: this.password,
          gender: this.selectedGender
        })
        if (response.data.error == undefined) {
          this.notifyToast(
            'success',
            'notification.taskSuccess',
            'notification.accountCreated'
          )
          setTimeout(() => {
            this.$router.push('/app/auth/login')
          }, 3000)
        } else {
          this.notifyToast(
            'error',
            'error.registerFailed',
            response.data.error.message
          )
          this.processing = false
        }
      } catch {
        this.notifyToast('error', 'error.loginFailed', 'error.server')
        this.processing = false
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  height: 100vh;
  width: 100%;
  background-image: url('~@/assets/img/gradient-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-wrapper {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background-color: $white;
  color: $black;
  box-shadow: $shadow-darker;
}
.form-background {
  overflow: hidden;
  background-image: url('~@/assets/img/technology-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767.98px) {
  .form-wrapper {
    width: 350px;
  }
}
</style>
