<template>
  <b-breadcrumb class="bg-white p-0 m-0 mb-1">
    <b-breadcrumb-item to="/app">
      <fa :icon="['fas', `home`]" class="mr-1 color-black" />
      <span class="color-black">
        {{ $t('breadcrumb.home') }}
      </span>
    </b-breadcrumb-item>
    <b-breadcrumb-item to="/app/product" disabled>
      <span class="color-black">
        {{ $t('breadcrumb.product') }}
      </span>
    </b-breadcrumb-item>
    <b-breadcrumb-item active>
      {{ $store.state.category.query.category | capitalize }}
    </b-breadcrumb-item>
  </b-breadcrumb>
</template>
