<template>
  <transition name="fade">
    <div
      :key="categoryImage"
      class="header-container"
      :style="`background-image: url(${categoryImage})`"
    >
      <div class="header">
        <p class="header-title">
          {{ $t('header.quote-title-2') }}
        </p>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  props: {
    categoryImage: {
      type: String,
      default: require('~/assets/img/product/product.jpg')
    }
  },
  data() {
    return {
      searchText: ''
    }
  }
}
</script>
<style lang="scss" scoped>
.header-container {
  height: 300px;
  width: 100%;
  // Parallax Effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  height: 100%;
  width: 50%;
  margin: auto;
  padding: 2.5rem;
}
.header-title {
  color: $white;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 575.98px) {
  .header {
    width: 80%;
  }
}
.fade-enter-active {
  transition: opacity 0.6s ease-in-out;
}

.fade-enter-to {
  opacity: 1;
}

.fade-enter {
  opacity: 0;
}
</style>
