<template>
  <div>
    <div role="tablist" class="mb-4">
      <b-card no-body class="mb-10 box-shadow">
        <b-card-header
          v-b-toggle="`accordion-2`"
          header-tag="header"
          class="accordion-header px-4"
          role="tab"
        >
          {{ $t('filter.category') }}
        </b-card-header>
        <div class="px-4 py-3">
          <b-form-group
            @change.native="$emit('on-change-category', selectedCategory)"
          >
            <b-form-radio
              v-model="selectedCategory"
              class="mb-1"
              value="laptop"
              style="cursor: pointer;"
            >
              Laptop
            </b-form-radio>
            <b-form-radio
              v-model="selectedCategory"
              class="mb-1"
              value="smartphone"
              style="cursor: pointer;"
            >
              Smartphone
            </b-form-radio>
            <b-form-radio
              v-model="selectedCategory"
              class="mb-1"
              value="tablet"
              style="cursor: pointer;"
            >
              Tablet
            </b-form-radio>
          </b-form-group>
        </div>
      </b-card>
    </div>
    <div role="tablist" class="mb-4">
      <b-card no-body class="mb-10 box-shadow">
        <b-card-header
          header-tag="header"
          class="accordion-header px-4"
          role="tab"
        >
          {{ $t('filter.filter') }}
        </b-card-header>
        <div class="px-4 py-3">
          <p class="accordion-title">
            {{ $t('filter.productName') | upper }}
          </p>
          <b-form-group>
            <b-form-input
              v-model="searchText"
              :placeholder="$t('placeholder.searchByName')"
              size="sm"
              @input="$emit('on-change-search', searchText)"
            ></b-form-input>
          </b-form-group>
          <b-form-group @change.native="$emit('on-change-sort', selectedSort)">
            <p class="accordion-title">
              {{ $t('filter.otherOptions') | upper }}
            </p>
            <b-form-radio
              v-model="selectedSort"
              size="sm"
              class="mb-3"
              value=""
              style="cursor: pointer;"
            >
              {{ $t('filter.none') }}
            </b-form-radio>
            <p class="accordion-title">
              {{ $t('filter.productPrice') | upper }}
            </p>
            <b-form-radio
              v-model="selectedSort"
              size="sm"
              class="mb-2"
              value="price-ASC"
              style="cursor: pointer;"
            >
              {{ $t('filter.priceASC') }}
            </b-form-radio>
            <b-form-radio
              v-model="selectedSort"
              size="sm"
              class="mb-3"
              value="price-DESC"
              style="cursor: pointer;"
            >
              {{ $t('filter.priceDESC') }}
            </b-form-radio>
            <p class="accordion-title">
              {{ $t('filter.productPoint') | upper }}
            </p>
            <b-form-radio
              v-model="selectedSort"
              size="sm"
              class="mb-2"
              value="point-ASC"
              style="cursor: pointer;"
            >
              {{ $t('filter.pointASC') }}
            </b-form-radio>
            <b-form-radio
              v-model="selectedSort"
              size="sm"
              class="mb-3"
              value="point-DESC"
              style="cursor: pointer;"
            >
              {{ $t('filter.pointDESC') }}
            </b-form-radio>
            <p class="accordion-title">
              {{ $t('filter.productCreated') | upper }}
            </p>
            <b-form-radio
              v-model="selectedSort"
              size="sm"
              class="mb-2"
              value="createdAt-ASC"
              style="cursor: pointer;"
            >
              {{ $t('filter.createdASC') }}
            </b-form-radio>
            <b-form-radio
              v-model="selectedSort"
              size="sm"
              class="mb-2"
              value="createdAt-DESC"
              style="cursor: pointer;"
            >
              {{ $t('filter.createdDESC') }}
            </b-form-radio>
          </b-form-group>
        </div>
      </b-card>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      selectedCategory: this.$store.state.category.query.category,
      selectedSort: `${this.$store.state.category.query.sortBy}-${this.$store.state.category.query.sort}`,
      searchText: this.$store.state.category.query.name
    }
  }
}
</script>
<style lang="scss" scoped>
.accordion-header {
  border-bottom: 1px solid $gray-400;
  color: $tech;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  &:focus {
    outline: none;
  }
}
.accordion-title {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
}
</style>
