<template>
  <b-row v-if="items.length > 0" class="p-5 bg-gray-200">
    <b-col cols="12" class="text-center mb-4">
      <h3>
        {{ $t('recommendation.quote') }}
        <span class="color-tech font-2">
          {{ $t('recommendation.products') | upper }}
        </span>
      </h3>
    </b-col>
    <b-col
      v-for="(item, index) in items"
      :key="`rec-${index}`"
      cols="12"
      md="6"
      xl="3"
    >
      <ListItem :item="item" :nocompare="true" />
    </b-col>
  </b-row>
</template>
<script>
import { ListItem } from '~/components/common'
export default {
  name: 'TrendingProduct',
  components: {
    ListItem
  },
  props: {
    items: {
      type: Array,
      default: () => {
        return []
      }
    }
  }
}
</script>
