<template>
  <div class="wrapper">
    <ValidationObserver v-slot="{ handleSubmit }">
      <b-form @submit.prevent="handleSubmit(addProduct)">
        <!-- Name -->
        <ValidationProvider
          v-slot="{ errors }"
          mode="lazy"
          rules="required|min:30|max:100"
        >
          <b-form-group
            id="input-group-1"
            :label="`${$t('label.productName')}:`"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              v-model="name"
              :disabled="processing"
              :placeholder="$t('placeholder.name')"
            ></b-form-input>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <!-- Category -->
        <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
          <b-form-group :label="`${$t('label.productCategory')}:`">
            <b-form-select
              v-model="selectedCategory"
              :options="categoryOptions"
              :disabled="processing"
            ></b-form-select>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <!-- Content -->
        <ValidationProvider
          v-slot="{ errors }"
          mode="lazy"
          rules="required|min:30|max:10000"
        >
          <b-form-group :label="`${$t('label.productContent')}:`">
            <client-only>
              <quill-editor
                ref="myQuillEditor"
                v-model="content"
                :options="editorOption"
                :disabled="processing"
              />
            </client-only>
            <b-form-file
              ref="postImage"
              class="mt-3"
              name="photo"
              accept="image/jpeg, image/png"
              size="sm"
              style="display: none;"
            ></b-form-file>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <!-- Price -->
        <ValidationProvider
          v-slot="{ errors }"
          mode="lazy"
          rules="required|numeric|between:1,10000"
        >
          <b-form-group
            id="input-group-3"
            :label="`${$t('label.productPrice')}(US Dollars):`"
            label-for="input-3"
          >
            <b-form-input
              id="input-3"
              v-model="price"
              :disabled="processing"
              :placeholder="$t('placeholder.price')"
            ></b-form-input>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <!-- RAM -->
        <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
          <b-form-group
            id="input-group-4"
            :label="`${$t('label.ram')}:`"
            label-for="input-4"
          >
            <b-form-input
              id="input-4"
              v-model="ram"
              :disabled="processing"
              :placeholder="$t('placeholder.ram')"
            ></b-form-input>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <!-- CPU -->
        <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
          <b-form-group
            id="input-group-5"
            :label="`${$t('label.cpu')}:`"
            label-for="input-5"
          >
            <b-form-input
              id="input-5"
              v-model="cpu"
              :disabled="processing"
              :placeholder="$t('placeholder.cpu')"
            ></b-form-input>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <!-- Disk size -->
        <ValidationProvider
          v-slot="{ errors }"
          mode="lazy"
          rules="required|numeric|between:1,10000"
        >
          <b-form-group
            id="input-group-6"
            :label="`${$t('label.disksize')} (Gigabyte):`"
            label-for="input-6"
          >
            <b-form-input
              id="input-6"
              v-model="disk"
              :disabled="processing"
              :placeholder="$t('placeholder.disksize')"
            ></b-form-input>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <!-- Screen size -->
        <ValidationProvider
          v-slot="{ errors }"
          mode="lazy"
          rules="required|numeric|between:1,50"
        >
          <b-form-group
            id="input-group-7"
            :label="`${$t('label.screensize')} (inch):`"
            label-for="input-7"
          >
            <b-form-input
              id="input-7"
              v-model="screen"
              :disabled="processing"
              :placeholder="$t('placeholder.screensize')"
            ></b-form-input>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <!-- Thumbnail -->
        <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
          <b-form-group
            id="input-group-7"
            :label="`${$t('label.thumbnail')}:`"
            label-for="input-7"
          >
            <b-img
              v-if="thumbnailFile != null"
              :src="previewImage"
              height="400"
              width="400"
            ></b-img>
            <div v-if="thumbnailFile != null" class="mb-4">
              <b-button
                variant="primary"
                size="sm"
                :disabled="processing"
                @click="uploadImage"
              >
                <b-spinner v-if="processing" small type="grow"></b-spinner>
                <span v-if="processing">
                  {{ $t('action.loading') }}
                </span>
                <span v-if="!processing"> {{ $t('action.upload') }}</span>
              </b-button>
              <b-button
                size="sm"
                variant="danger"
                :disabled="processing"
                @click="cancelImage"
              >
                {{ $t('action.cancel') }}
              </b-button>
            </div>
            <b-input-group>
              <b-form-input
                id="input-7"
                v-model="thumbnail"
                disabled
                :placeholder="$t('placeholder.thumbnail')"
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  variant="outline-secondary"
                  :disabled="processing"
                  @click="$refs.thumbnail.$el.childNodes[0].click()"
                >
                  {{ $t('action.upload') }}
                </b-button>
              </b-input-group-append>
            </b-input-group>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <b-form-file
          ref="thumbnail"
          v-model="thumbnailFile"
          class="mt-3"
          name="photo"
          :disabled="processing"
          accept="image/jpeg, image/png"
          size="sm"
          style="display: none;"
          @change="previewThumbnail"
        ></b-form-file>
        <b-button
          variant="primary"
          size="sm"
          :disabled="processing"
          type="submit"
        >
          <b-spinner v-if="processing" small type="grow"></b-spinner>
          <span v-if="processing">
            {{ $t('action.loading') }}
          </span>
          <span v-if="!processing"> {{ $t('action.submit') }}</span>
        </b-button>
      </b-form>
    </ValidationObserver>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'ProductCreate',
  layout: 'Admin',
  data() {
    return {
      name: '',
      content: '',
      thumbnail: '',
      price: '',
      ram: '',
      cpu: '',
      disk: '',
      screen: '',
      selectedCategory: null,
      categoryOptions: [
        {
          value: null,
          text: this.$t('placeholder.category'),
          disabled: true
        }
      ],
      previewImage: '',
      thumbnailFile: null,
      processing: false,
      editorOption: {
        modules: {
          toolbar: {
            container: [
              ['bold', 'italic', 'underline', 'strike'],
              ['blockquote'],
              [{ header: 1 }, { header: 2 }],
              [{ list: 'ordered' }, { list: 'bullet' }],
              [{ script: 'sub' }, { script: 'super' }],
              [{ indent: '-1' }, { indent: '+1' }],
              [{ size: ['small', false, 'large', 'huge'] }],
              [{ header: [1, 2, 3, 4, 5, 6, false] }],
              [{ color: [] }, { background: [] }],
              [{ font: [] }],
              [{ align: [] }],
              ['clean'],
              ['image']
            ],
            handlers: {
              image: this.imageHandler
            }
          }
        }
      }
    }
  },
  computed: {
    editor() {
      return this.$refs.myQuillEditor.quill
    }
  },
  created() {
    this.$bus.$emit('title', 'Add Product')
  },
  mounted() {
    this.getCategory()
  },
  methods: {
    previewThumbnail(e) {
      this.previewImage = URL.createObjectURL(e.target.files[0])
    },
    async getCategory() {
      try {
        this.processing = true
        const response = await this.$axios.get(
          `/categories?name=&page=1&size=100`,
          {
            headers: {
              'x-access-token': Cookie.get('token')
            }
          }
        )
        if (response.data.error == undefined) {
          for (let i = 0; i < response.data.totalItems; i++) {
            this.categoryOptions.push({
              value: response.data.data[i].id,
              text: response.data.data[i].name
            })
          }
        } else {
          this.notifyToast(
            'error',
            'error.dataFailed',
            response.data.error.message
          )
        }
      } catch {
        this.notifyToast('error', 'error.dataFailed', 'error.server')
      } finally {
        this.processing = false
      }
    },
    async addProduct() {
      try {
        this.processing = true
        const product = {
          price: this.price,
          ram: this.ram.trim(),
          cpu: this.cpu.trim(),
          disksize: this.disk,
          screensize: this.screen,
          name: this.name.trim(),
          content: this.content.trim(),
          thumbnail: this.thumbnail,
          categoryId: this.selectedCategory
        }
        const response = await this.$axios.post(`/product`, product, {
          headers: {
            'x-access-token': Cookie.get('token')
          }
        })
        if (response.data.error == undefined) {
          this.notifyToast(
            'success',
            'notification.taskSuccess',
            'notification.recordCreated'
          )
          setTimeout(() => {
            this.$router.push('/admin/products')
          }, 1500)
        } else {
          this.notifyToast(
            'error',
            'error.createFailed',
            response.data.error.message
          )
          this.processing = false
        }
      } catch {
        this.notifyToast('error', 'error.createFailed', 'error.server')
        this.processing = false
      }
    },
    cancelImage() {
      this.thumbnailFile = null
      this.previewImage = ''
    },
    async uploadImage() {
      try {
        this.processing = true
        const data = new FormData()
        data.append('photo', this.thumbnailFile)
        const response = await this.$axios.post(`image_upload`, data, {
          headers: {
            'x-access-token': Cookie.get('token')
          }
        })
        if (response.data.error == undefined) {
          this.thumbnail = response.data.data.url
          this.notifyToast(
            'success',
            'notification.taskSuccess',
            'notification.uploadSuccess'
          )
        } else {
          this.notifyToast(
            'error',
            'error.dataFailed',
            response.data.error.message
          )
        }
      } catch {
        this.notifyToast('error', 'error.dataFailed', 'error.server')
      } finally {
        this.thumbnailFile = null
        this.processing = false
      }
    },
    imageHandler() {
      try {
        this.processing = true
        const input = this.$refs.postImage.$el.childNodes[0]
        input.click()
        input.onchange = async () => {
          const formData = new FormData()
          formData.append('photo', input.files[0])
          const response = await this.$axios.post(`image_upload`, formData, {
            headers: {
              'x-access-token': Cookie.get('token')
            }
          })
          if (response.data.error == undefined) {
            this.content += `<img src="${response.data.data.url}"/>`
            this.notifyToast(
              'success',
              'notification.taskSuccess',
              'notification.uploadSuccess'
            )
          } else {
            this.notifyToast(
              'error',
              'error.dataFailed',
              response.data.error.message
            )
          }
        }
      } catch {
        this.notifyToast('error', 'error.createFailed', 'error.server')
      } finally {
        this.processing = false
      }
    }
  },
  middleware: 'AdminAuthRequired',
  head() {
    return {
      title: 'Create product'
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
</style>
