<template>
  <b-container fluid class="wrapper">
    <b-row class="mb-3">
      <b-col cols="6" class="d-flex">
        <b-input-group>
          <b-form-input
            v-model="searchText"
            :placeholder="$t('placeholder.searchByName')"
            style="max-width: 200px;"
            size="sm"
            :disabled="processing"
            @input="onSearch"
          ></b-form-input>
          <template v-slot:append>
            <b-input-group-text>
              <fa :icon="['fas', 'search']" style="cursor: pointer;" />
            </b-input-group-text>
          </template>
        </b-input-group>
      </b-col>
      <b-col cols="6" class="text-right">
        <b-form-select
          v-model="selectedLimit"
          :disabled="processing"
          :options="limitOptions"
          style="max-width: 60px;"
          size="sm"
          @change="onLimitChange"
        ></b-form-select>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-table
          id="product-table"
          show-empty
          responsive
          bordered
          hover
          :items="product.data"
          :fields="fields"
          :per-page="selectedLimit"
          @row-contextmenu="handleContextMenu"
        >
          <template v-slot:empty>
            <div v-if="processing" class="text-center p-5">
              <b-spinner></b-spinner>
            </div>
            <div v-else class="text-center p-5 color-gray-600 font-2">
              <fa :icon="['fas', 'folder-open']" />
              <span>{{ $t('placeholder.noData') }}</span>
            </div>
          </template>
          <template v-slot:cell()="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ data.value }}
            </p>
          </template>
          <template v-slot:cell(isActive)="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ data.value ? $t(`status.active`) : $t(`status.banned`) }}
            </p>
          </template>
          <template v-slot:cell(productDetail.createdAt)="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ $moment(data.value).format('MMMM Do YYYY, h:mm:ss a') }}
            </p>
          </template>
          <template v-slot:cell(productDetail.updatedAt)="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ $moment(data.value).format('MMMM Do YYYY, h:mm:ss a') }}
            </p>
          </template>
        </b-table>
        <b-pagination
          v-model="currentPage"
          :total-rows="product.totalItems"
          :per-page="selectedLimit"
          :disabled="processing"
          aria-controls="product-table"
          @change="onPaginationChange"
        ></b-pagination>
        <v-contextmenu ref="contextmenu">
          <v-contextmenu-item @click="restoreProduct">
            <fa :icon="['fas', 'hammer']" class="color-green" />
            <span>{{ $t('action.restore') }}</span>
          </v-contextmenu-item>
          <v-contextmenu-item v-b-modal.deleteModal>
            <fa :icon="['fas', 'trash']" class="color-red" />
            <span>{{ $t('action.delete') }}</span>
          </v-contextmenu-item>
        </v-contextmenu>
        <b-modal id="deleteModal" hide-header>
          <div class="text-center">
            <fa
              :icon="['far', 'times-circle']"
              class="text-danger"
              style="font-size: 7rem;"
            />
            <h3 class="my-3 text-gray">
              {{ $t('modal.confirmTitle') }}
            </h3>
            <p class="text-gray">
              {{ $t('modal.banDescription') }}
            </p>
          </div>
          <template v-slot:modal-footer="{ cancel }">
            <b-button
              size="sm"
              variant="secondary"
              :disabled="processing"
              @click="cancel()"
            >
              {{ $t('action.cancel') }}
            </b-button>
            <b-button
              variant="danger"
              size="sm"
              :disabled="processing"
              @click="deleteProduct"
            >
              <b-spinner v-if="processing" small type="grow"></b-spinner>
              <span v-if="processing">
                {{ $t('action.loading') }}
              </span>
              <span v-if="!processing"> {{ $t('action.delete') }}</span>
            </b-button>
          </template>
        </b-modal>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import Cookie from 'js-cookie'
import { mapMutations, mapActions, mapState } from 'vuex'
import { debounce } from 'lodash'
export default {
  name: 'DeletedProduct',
  layout: 'Admin',
  middleware: 'AdminAuthRequired',
  components: {},
  async fetch({ store, error, query }) {
    try {
      await store.commit('product/RESET_FILTER')
      await store.commit('product/SET_VIEWING', {})
      if ('size' in query) {
        await store.commit('user/SET_LIMIT_FILTER', query.size)
      }
      if ('page' in query) {
        await store.commit('user/SET_PAGE_FILTER', query.page)
      }
      if ('name' in query) {
        await store.commit('user/SET_SEARCH_FILTER', query.name)
      }
      await store.dispatch('product/fetchBannedList')
    } catch {
      error({ statusCode: 500, message: 'An error has occurred' })
    }
  },
  data() {
    return {
      // Table fields
      fields: [
        { key: 'id', label: 'ID' },
        { key: 'name', label: this.$t('table.name') },
        { key: 'User.name', label: this.$t('table.createdBy') },
        { key: 'Category.name', label: this.$t('table.category') },
        { key: 'countLike', label: this.$t('table.like') },
        { key: 'countDisLike', label: this.$t('table.dislike') },
        { key: 'isActive', label: this.$t('table.status') },
        { key: 'productDetail.createdAt', label: this.$t('table.createdAt') },
        { key: 'productDetail.updatedAt', label: this.$t('table.updatedAt') }
      ],
      // Table limit
      limitOptions: [
        { value: 5, text: '5' },
        { value: 10, text: '10' },
        { value: 15, text: '15' }
      ],
      selectedLimit:
        this.$route.query.size != undefined ? this.$route.query.size : 5,
      // Context menu selected item
      selectedItem: {},
      // Current page
      currentPage:
        this.$route.query.page != undefined ? this.$route.query.page : 1,
      // search text
      searchText: '',
      processing: false
    }
  },
  computed: mapState({
    product: (state) => state.product.viewing,
    query: (state) => state.product.query
  }),
  created() {
    this.$bus.$emit('title', 'Banned Product')
  },
  methods: {
    ...mapMutations({
      SET_SEARCH_FILTER: 'product/SET_SEARCH_FILTER',
      SET_PAGE_FILTER: 'product/SET_PAGE_FILTER',
      SET_LIMIT_FILTER: 'product/SET_LIMIT_FILTER'
    }),
    ...mapActions({
      fetchBannedList: 'product/fetchBannedList'
    }),
    changeQueryParams() {
      history.pushState(
        {},
        '',
        `${this.$route.path}?name=${this.searchText}&page=${this.currentPage}&size=${this.selectedLimit}`
      )
    },
    onPaginationChange: debounce(async function () {
      try {
        await this.SET_PAGE_FILTER(this.currentPage)
        await this.fetchBannedList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 500),
    onLimitChange: debounce(async function () {
      try {
        await this.SET_LIMIT_FILTER(this.selectedLimit)
        await this.fetchBannedList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 500),
    onSearch: debounce(async function () {
      try {
        await this.SET_SEARCH_FILTER(this.searchText)
        await this.fetchBannedList()
        this.changeQueryParams()
      } catch (err) {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 500),
    handleContextMenu(item, index, event) {
      event.preventDefault()
      this.selectedItem = item
    },
    async restoreProduct() {
      try {
        this.processing = true
        const response = await this.$axios.put(
          `/product/${this.selectedItem.slug}/restore`,
          {},
          {
            headers: {
              'x-access-token': Cookie.get('token')
            }
          }
        )
        if (response.data.error == undefined) {
          this.notifyToast(
            'success',
            'notification.taskSuccess',
            'notification.restoredSuccess'
          )
          this.fetchBannedList()
        } else {
          this.notifyToast(
            'error',
            'error.taskFailed',
            response.data.error.message
          )
        }
      } catch {
        this.notifyToast('error', 'error.taskFailed', 'error.server')
      } finally {
        this.processing = false
      }
    },
    selectAll() {
      const selected = []
      this.selectAllItem = !this.selectAllItem
      if (this.selectAllItem) {
        this.items.forEach((item) => {
          selected.push(item.id)
        })
      } else {
        this.items.forEach((item) => {
          selected.pop(item.id)
        })
      }
      this.deletedItems = selected
    },
    async deleteProduct() {
      try {
        this.processing = true
        const response = await this.$axios.delete(
          `/product/${this.selectedItem.slug}/permanent`,
          {
            headers: {
              'x-access-token': Cookie.get('token')
            }
          }
        )
        if (response.data.error == undefined) {
          this.notifyToast(
            'success',
            'notification.taskSuccess',
            'notification.deletedSuccess'
          )
          this.fetchBannedList()
        } else {
          this.notifyToast(
            'error',
            'error.taskFailed',
            response.data.error.message
          )
        }
      } catch {
        this.notifyToast('error', 'error.taskFailed', 'error.server')
      } finally {
        this.$bvModal.hide('deleteModal')
        this.processing = false
      }
    }
  },
  head() {
    return {
      title: 'Banned Product',
      description: 'A short dummy description'
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
</style>
