<template>
  <b-container fluid class="p-0">
    <!-- Header -->
    <div class="header-container">
      <div class="header">
        <p class="header-title">
          {{ $t('header.quote-title') }}
        </p>
        <p class="header-description">
          {{ $t('header.quote-description') }}
        </p>
      </div>
    </div>
    <!-- Main content -->
    <b-container fluid>
      <Advertisement_1 />
      <Advertisement_2 />
      <Advertisement_3 />
      <Advertisement_4 />
      <Advertisement_5 />
      <Advertisement_6 />
    </b-container>
  </b-container>
</template>
<script>
// import { mapState, mapActions } from 'vuex'
import {
  Advertisement_1,
  Advertisement_2,
  Advertisement_3,
  Advertisement_4,
  Advertisement_5,
  Advertisement_6
} from '~/components/uncommon/Homepage'
export default {
  name: 'Home',
  components: {
    Advertisement_1,
    Advertisement_2,
    Advertisement_3,
    Advertisement_4,
    Advertisement_5,
    Advertisement_6
  },
  layout: 'Client',
  head() {
    return {
      title: 'Home page',
      description: 'A short dummy description'
    }
  }
}
</script>
<style lang="scss" scoped>
.header-container {
  height: 450px;
  width: 100%;
  background-image: url('~@/assets/img/header-background.jpg');
  // Parallax Effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  height: 100%;
  width: 50%;
  margin: auto;
  padding: 2.5rem;
}
.header-title {
  color: $white;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header-description {
  color: $white;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 575.98px) {
  .header {
    width: 80%;
  }
}
</style>
