<template>
  <b-container fluid class="wrapper">
    <b-row class="mb-3">
      <!-- Search bar -->
      <b-col cols="6" class="d-flex">
        <b-input-group>
          <b-form-input
            v-model="searchText"
            :placeholder="$t('placeholder.searchByUserName')"
            style="max-width: 200px;"
            size="sm"
            :disabled="processing"
            @input="onSearch"
          ></b-form-input>
          <template v-slot:append>
            <b-input-group-text>
              <fa :icon="['fas', 'search']" style="cursor: pointer;" />
            </b-input-group-text>
          </template>
        </b-input-group>
      </b-col>
      <b-col cols="6" class="text-right">
        <!-- Table limit select -->
        <b-form-select
          v-model="selectedLimit"
          :options="limitOptions"
          :disabled="processing"
          style="max-width: 60px;"
          size="sm"
          @change="onLimitChange"
        ></b-form-select>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <!-- Main table -->
        <b-table
          id="review-table"
          show-empty
          responsive
          bordered
          hover
          :items="review.data"
          :fields="fields"
          :per-page="selectedLimit"
          @row-contextmenu="handleContextMenu"
        >
          <template v-slot:empty>
            <div v-if="processing" class="text-center p-5">
              <b-spinner></b-spinner>
            </div>
            <div v-else class="text-center p-5 color-gray-600 font-2">
              <fa :icon="['fas', 'folder-open']" />
              <span>{{ $t('placeholder.noData') }}</span>
            </div>
          </template>
          <template v-slot:cell()="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ data.value }}
            </p>
          </template>
          <template v-slot:cell(title)="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ data.value.substring(0, 20) }}
              <span v-if="data.value.length > 20">...</span>
            </p>
          </template>
          <template v-slot:cell(content)="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ data.value.substring(0, 20) }}
              <span v-if="data.value.length > 20">...</span>
            </p>
          </template>
          <template v-slot:cell(createdAt)="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ $moment(data.value).format('MMMM Do YYYY, h:mm:ss a') }}
            </p>
          </template>
          <template v-slot:cell(ratingPoint)="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              <fa
                v-if="data.value"
                :icon="['fas', `thumbs-up`]"
                class="color-blue"
              />
              <fa v-else :icon="['fas', `thumbs-down`]" class="color-red" />
            </p>
          </template>
          <template v-slot:cell(updatedAt)="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ $moment(data.value).format('MMMM Do YYYY, h:mm:ss a') }}
            </p>
          </template>
        </b-table>
        <!-- Table pagination -->
        <b-pagination
          v-model="currentPage"
          :total-rows="review.totalItems"
          :disabled="processing"
          :per-page="selectedLimit"
          aria-controls="review-table"
          @change="onPaginationChange"
        ></b-pagination>
        <v-contextmenu ref="contextmenu">
          <v-contextmenu-item v-b-modal.detailModal>
            <fa :icon="['fas', 'book']" class="color-blue" />
            <span>{{ $t('action.showDetail') }}</span>
          </v-contextmenu-item>
          <v-contextmenu-item v-if="isAdmin" v-b-modal.deleteModal>
            <fa :icon="['fas', 'trash']" class="color-red" />
            <span>{{ $t('action.delete') }}</span>
          </v-contextmenu-item>
          <v-contextmenu-item v-if="isAdmin" v-b-modal.banModal>
            <fa :icon="['fas', 'user']" class="color-red" />
            <span>{{ $t('action.ban') }}</span>
          </v-contextmenu-item>
        </v-contextmenu>
        <!-- Delete Modal -->
        <b-modal id="deleteModal" hide-header>
          <div class="text-center">
            <fa
              :icon="['far', 'times-circle']"
              class="text-danger"
              style="font-size: 7rem;"
            />
            <h3 class="my-3 text-gray">
              {{ $t('modal.confirmTitle') }}
            </h3>
            <p class="text-gray">
              {{ $t('modal.banDescription') }}
            </p>
          </div>
          <template v-slot:modal-footer="{ cancel }">
            <b-button
              size="sm"
              variant="secondary"
              :disabled="processing"
              @click="cancel()"
            >
              {{ $t('action.cancel') }}
            </b-button>
            <b-button
              variant="danger"
              size="sm"
              :disabled="processing"
              @click="deleteComment"
            >
              <b-spinner v-if="processing" small type="grow"></b-spinner>
              <span v-if="processing">
                {{ $t('action.loading') }}
              </span>
              <span v-if="!processing"> {{ $t('action.delete') }}</span>
            </b-button>
          </template>
        </b-modal>
        <!-- Detail modal -->
        <b-modal
          v-if="selectedItem != null"
          id="detailModal"
          title="Post detail"
        >
          <div class="detail-title">
            {{ $t('modal.reviewID') }}:
            <span class="detail-subtitle">{{ selectedItem.id }}</span>
          </div>
          <div class="detail-title">
            ID sản phẩm đang được bình luận:
            <span class="detail-subtitle">{{ selectedItem.Product.id }}</span>
          </div>
          <div class="detail-title">
            {{ $t('modal.productName') }}:
            <span class="detail-subtitle">{{ selectedItem.Product.name }}</span>
          </div>
          <div class="detail-title">
            {{ $t('modal.userID') }}:
            <span class="detail-subtitle">{{ selectedItem.User.id }}</span>
          </div>
          <div class="detail-title">
            {{ $t('modal.userName') }}
            <span class="detail-subtitle">{{ selectedItem.User.name }}</span>
          </div>
          <div class="detail-title">
            {{ $t('modal.reviewTitle') }}:
            <span class="detail-subtitle">{{ selectedItem.title }}</span>
          </div>
          <div class="detail-title">
            {{ $t('modal.reviewContent') }}:
            <span class="detail-subtitle">{{ selectedItem.content }}</span>
          </div>
          <div class="detail-title">
            {{ $t('modal.reviewDate') }}:
            <span class="detail-subtitle">
              {{
                $moment(selectedItem.createdAt).format(
                  'MMMM Do YYYY, h:mm:ss a'
                )
              }}
            </span>
          </div>
          <div class="detail-title">
            {{ $t('modal.reviewLastUpdated') }}:
            <span class="detail-subtitle">
              {{
                $moment(selectedItem.updatedAt).format(
                  'MMMM Do YYYY, h:mm:ss a'
                )
              }}
            </span>
          </div>
          <template v-slot:modal-footer="{ cancel }">
            <b-button
              size="sm"
              variant="primary"
              :disabled="processing"
              @click="cancel()"
            >
              {{ $t('action.hide') }}
            </b-button>
          </template>
        </b-modal>
        <!-- Ban modal -->
        <b-modal id="banModal" hide-header>
          <div class="text-center">
            <fa
              :icon="['far', 'times-circle']"
              class="text-danger"
              style="font-size: 7rem;"
            />
            <h3 class="my-3 text-gray">
              {{ $t('modal.confirmTitle') }}
            </h3>
            <p class="text-gray">
              {{ $t('modal.banDescription') }}
            </p>
          </div>
          <template v-slot:modal-footer="{ cancel }">
            <b-button
              size="sm"
              variant="secondary"
              :disabled="processing"
              @click="cancel()"
            >
              {{ $t('action.cancel') }}
            </b-button>
            <b-button
              variant="danger"
              size="sm"
              :disabled="processing"
              @click="banUser"
            >
              <b-spinner v-if="processing" small type="grow"></b-spinner>
              <span v-if="processing">
                {{ $t('action.loading') }}
              </span>
              <span v-if="!processing"> {{ $t('action.ban') }}</span>
            </b-button>
          </template>
        </b-modal>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import { debounce } from 'lodash'
import Cookie from 'js-cookie'
export default {
  name: 'ReviewList',
  layout: 'Admin',
  middleware: 'AdminAuthRequired',
  components: {},
  async fetch({ store, error, query }) {
    try {
      // Clear old filter and viewing in vuex state
      await store.commit('review/RESET_FILTER')
      await store.commit('review/SET_VIEWING', {})
      // Get new filter from query
      if ('size' in query) {
        await store.commit('review/SET_LIMIT_FILTER', query.size)
      }
      if ('page' in query) {
        await store.commit('review/SET_PAGE_FILTER', query.page)
      }
      if ('name' in query) {
        await store.commit('review/SET_SEARCH_FILTER', query.name)
      }
      // Fetch new data based on query
      await store.dispatch('review/fetchList')
    } catch {
      error({ statusCode: 500, message: 'An error has occurred' })
    }
  },
  data() {
    return {
      // Table fields
      fields: [
        { key: 'id', label: 'ID' },
        { key: 'Product.name', label: this.$t('table.productName') },
        { key: 'User.name', label: this.$t('table.userName') },
        { key: 'title', label: this.$t('table.title') },
        { key: 'content', label: this.$t('table.content') },
        { key: 'ratingPoint', label: this.$t('table.rating') },
        { key: 'createdAt', label: this.$t('table.createdAt') },
        { key: 'updatedAt', label: this.$t('table.updatedAt') }
      ],
      // Table limit
      limitOptions: [
        { value: 5, text: '5' },
        { value: 10, text: '10' },
        { value: 15, text: '15' }
      ],
      selectedLimit: this.$store.state.review.query.size,
      // Context menu selected item
      selectedItem: null,
      // Current page
      currentPage: this.$store.state.review.query.page,
      // search text
      searchText: this.$store.state.review.query.name,
      // Processing state to prevent api spamming
      processing: false,
      isAdmin:
        this.$store.state.user.currentUser.roleName == 'partner' ? false : true
    }
  },
  computed: mapState({
    review: (state) => state.review.viewing,
    query: (state) => state.review.query
  }),
  created() {
    this.$bus.$emit('title', 'List review')
  },
  methods: {
    ...mapMutations({
      SET_SEARCH_FILTER: 'review/SET_SEARCH_FILTER',
      SET_PAGE_FILTER: 'review/SET_PAGE_FILTER',
      SET_LIMIT_FILTER: 'review/SET_LIMIT_FILTER'
    }),
    ...mapActions({
      fetchList: 'review/fetchList',
      deleteReview: 'review/delete'
    }),
    changeQueryParams() {
      history.pushState(
        {},
        '',
        `${this.$route.path}?name=${this.searchText}&page=${this.currentPage}&size=${this.selectedLimit}`
      )
    },
    onPaginationChange: debounce(async function () {
      try {
        await this.SET_PAGE_FILTER(this.currentPage)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 500),
    onLimitChange: debounce(async function () {
      try {
        await this.SET_LIMIT_FILTER(this.selectedLimit)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 500),
    onSearch: debounce(async function () {
      try {
        await this.SET_SEARCH_FILTER(this.searchText)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 500),
    handleContextMenu(item, index, event) {
      event.preventDefault()
      this.selectedItem = item
    },
    async deleteComment() {
      try {
        this.processing = true
        await this.deleteReview(this.selectedItem.id)
        this.notifyToast(
          'success',
          'notification.taskSuccess',
          'notification.deletedSuccess'
        )
        await this.fetchList()
      } catch (err) {
        if (err.message != undefined) {
          this.notifyToast('error', 'error.taskFailed', err.message)
        } else {
          this.notifyToast('error', 'error.taskFailed', 'error.server')
        }
      } finally {
        this.$bvModal.hide('deleteModal')
        this.processing = false
      }
    },
    async banUser() {
      try {
        this.processing = true
        const response = await this.$axios.put(
          `/user/${this.selectedItem.User.id}/delete`,
          {},
          {
            headers: {
              'x-access-token': Cookie.get('token')
            }
          }
        )
        if (response.data.error == undefined) {
          this.notifyToast(
            'success',
            'notification.taskSuccess',
            'notification.bannedSuccess'
          )
          await this.fetchList()
        } else {
          this.notifyToast(
            'error',
            'error.taskFailed',
            response.data.error.message
          )
        }
      } catch {
        this.notifyToast('error', 'error.taskFailed', 'error.server')
      } finally {
        this.$bvModal.hide('banModal')
        this.processing = false
      }
    }
  },
  head() {
    return { title: 'Review List', description: 'A short dummy description' }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
.detail-title {
  font-size: 1rem;
  font-weight: bold;
}
.detail-subtitle {
  font-size: 0.9rem;
  font-weight: normal;
}
</style>
