<template>
  <div style="max-width: 20rem;" class="mb-5 box-shadow mx-auto">
    <div class="product-image-container">
      <img
        :src="item.thumbnail"
        alt="Avatar"
        class="product-image"
        style="width: 100%;"
      />
      <div class="product-image-button-wrapper">
        <b-button
          variant="outline-secondary"
          :to="`/app/product/${item.slug}`"
          squared
        >
          {{ $t('action.detail') }}
        </b-button>
        <b-button
          v-if="!nocompare"
          variant="outline-secondary"
          squared
          @click="$emit('item-compare-added', item)"
        >
          {{ $t('action.compare') }}
        </b-button>
      </div>
    </div>
    <div class="px-4 py-3 bg-white border-top">
      <p :id="item.slug" class="mb-1 product-title">
        {{ item.name.substring(0, 26) }}
        <span v-if="item.name.length > 26">...</span>
      </p>
      <b-tooltip
        v-if="item.name.length > 26"
        :target="item.slug"
        triggers="hover"
      >
        {{ item.name }}
      </b-tooltip>
      <div class="mb-3">
        <b-badge variant="primary">
          {{ item.Category.name | upper }}
        </b-badge>
        <b-badge variant="success">
          <span>{{ item.productDetail.price }}</span>
          <fa :icon="['fas', `dollar-sign`]" />
        </b-badge>
        <b-badge :variant="item.ratingPoint >= 0 ? 'primary' : 'danger'">
          <fa v-if="item.ratingPoint >= 0" :icon="['fas', 'thumbs-up']" />
          <fa v-else :icon="['fas', 'thumbs-down']" />
          <span>
            CP
            {{ item.ratingPoint }}
          </span>
        </b-badge>
        <b-badge v-if="!item.isActive" variant="dark">
          {{ $t('status.banned') | upper }}
        </b-badge>
      </div>
      <p class="mb-2 product-subtitle">
        {{ $t('label.post-by') }}
        {{ item.User.name }}
      </p>
      <p class="mb-2 product-subtitle">
        {{ $t('label.post-date') }}
        {{ $moment(item.productDetail.createdAt).format('L') }}
      </p>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {
        return null
      }
    },
    nocompare: {
      type: Boolean,
      default: false
    }
  }
}
</script>
<style lang="scss" scoped>
.product-image-container {
  position: relative;
  background-color: lightblue;
}

.product-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
}

.product-image-button-wrapper {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.product-image-container:hover .product-image {
  opacity: 0.3;
}

.product-image-container:hover .product-image-button-wrapper {
  opacity: 1;
}
.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.product-subtitle {
  font-size: 0.8rem;
  color: $gray-600;
  text-transform: uppercase;
}
</style>
