<template>
  <b-navbar toggleable="sm" type="dark" variant="tech-dark">
    <b-navbar-brand to="/">
      {{ $t('navbar.brand') }}
    </b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <nuxt-link
          v-if="$store.state.user.currentUser == null"
          to="/app/auth/login"
          class="nav-link text-white"
          style="text-decoration: none;"
        >
          <fa :icon="['far', 'user']" class="mr-2" />
          {{ $t('navbar.login') }}
        </nuxt-link>
        <b-dropdown
          v-else
          right
          size="lg"
          variant="link"
          toggle-class="text-decoration-none p-0"
          no-caret
        >
          <template v-slot:button-content>
            <b-avatar
              v-if="$store.state.user.currentUser.avatar == null"
              variant="info"
              :src="require('~/assets/img/default-user.jpg')"
              size="sm"
            ></b-avatar>
            <b-avatar
              v-else
              variant="info"
              :src="$store.state.user.currentUser.avatar"
              size="sm"
            ></b-avatar>
          </template>
          <b-dropdown-item disabled>
            <strong> {{ $store.state.user.currentUser.name }}</strong>
          </b-dropdown-item>
          <b-dropdown-item
            :to="`/app/profile/${$store.state.user.currentUser.id}`"
          >
            {{ $t('navbar.profile') }}
          </b-dropdown-item>
          <b-dropdown-item @click="logout">
            {{ $t('action.logout') }}
          </b-dropdown-item>
        </b-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  name: 'Navbar',
  methods: {
    async logout() {
      this.$store.dispatch('logout')
      this.$router.push('/app/auth/login')
    }
  }
}
</script>
