<template>
  <div>
    <Header />
    <b-container>
      <b-row class="px-5 pt-5">
        <!-- Breadcrumb -->
        <b-col cols="12" class="mb-4">
          <Breadcrumb :product="product" />
        </b-col>
        <b-col cols="12" lg="4" class="mb-5">
          <ProductImage :product="product" />
        </b-col>
        <!-- Header title -->
        <b-col cols="12" lg="8" class="mb-5">
          <ProductInfo :product="product" />
        </b-col>
      </b-row>
      <b-row class="px-5 mb-5">
        <b-col cols="12">
          <b-tabs
            content-class="mt-3"
            nav-wrapper-class="border-0"
            nav-class="border-bottom"
            active-nav-item-class="border-0 border-bottom-tech-thick"
          >
            <b-tab active>
              <template v-slot:title>
                <p class="mb-0" style="font-size: 1.2rem;">
                  {{ $t('detail.information') }}
                </p>
              </template>
              <InfoTable :product="product" />
            </b-tab>
            <b-tab>
              <template v-slot:title>
                <p class="mb-0" style="font-size: 1.2rem;">
                  {{ $t('detail.post') }}
                </p>
              </template>
              <b-card>
                <div v-html="$sanitize(product.content)"></div>
              </b-card>
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
      <b-row class="px-5 mb-5">
        <b-col cols="12">
          <b-tabs
            content-class="mt-3"
            nav-wrapper-class="border-0"
            nav-class="border-bottom"
            active-nav-item-class="border-0 border-bottom-tech-thick"
          >
            <b-tab active>
              <template v-slot:title>
                <p class="mb-0" style="font-size: 1.2rem;">
                  {{ $t('detail.allComment') }}
                </p>
              </template>
              <CommentSection
                :review="review"
                @commentEdited="editComment"
                @commentDeleted="deleteComment"
              />
              <b-pagination
                v-if="review.totalItems > 5"
                v-model="currentPage"
                :total-rows="review.totalItems"
                size="sm"
                :per-page="5"
                aria-controls="category-table"
                @change="onPaginationChange"
              ></b-pagination>
            </b-tab>
            <b-tab>
              <template v-slot:title>
                <p class="mb-0" style="font-size: 1.2rem;">
                  {{ $t('action.comment') }}
                </p>
              </template>
              <b-card>
                <p>
                  {{ $t('detail.pleaseBeNice') }}
                </p>
                <AddComment @commented="addComment" />
              </b-card>
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
    </b-container>
    <!-- Trending products -->
    <b-container fluid>
      <TrendingProduct :items="recommendation" />
    </b-container>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import { debounce } from 'lodash'
import { TrendingProduct, Header } from '~/components/uncommon/Category'
import {
  Breadcrumb,
  ProductImage,
  ProductInfo,
  AddComment,
  InfoTable,
  CommentSection
} from '~/components/uncommon/Product'
export default {
  name: 'ProductDetail',
  components: {
    TrendingProduct,
    Header,
    InfoTable,
    ProductInfo,
    Breadcrumb,
    ProductImage,
    AddComment,
    CommentSection
  },
  async fetch({ store, params, error }) {
    try {
      await store.dispatch('product/fetchDetail', {
        slug: params.slug
      })
      await store.dispatch('review/fetchChildrenList', {
        slug: `${params.slug}`,
        page: 1,
        limit: 5
      })
      await store.dispatch('product/fetchListLimit')
    } catch (err) {
      if (err.code == 404) {
        error({ statusCode: 404 })
      } else {
        error({ statusCode: 503, message: 'An error has occurred' })
      }
    }
  },
  data() {
    return {
      currentPage: 1
    }
  },
  layout: 'Client',
  computed: mapState({
    product: (state) => state.product.viewing,
    review: (state) => state.review.viewing,
    recommendation: (state) => state.product.viewing.recommendation,
    currentUser: (state) => state.user.currentUser
  }),
  methods: {
    ...mapActions({
      addReview: 'review/add',
      editReview: 'review/edit',
      deleteReview: 'review/delete',
      fetchDetailProduct: 'product/fetchDetail',
      fetchListReview: 'review/fetchChildrenList'
    }),
    onPaginationChange: debounce(async function () {
      try {
        await this.fetchListReview({
          slug: `${this.$route.params.slug}`,
          page: this.currentPage,
          limit: 5
        })
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 500),
    async addComment(comment) {
      try {
        const review = {
          title: comment.title,
          content: comment.content,
          ratingPoint: comment.rating == 'true' ? true : false,
          productID: this.product.id
        }
        await this.addReview(review)
        this.notifyToast(
          'success',
          'notification.taskSuccess',
          'notification.commentAdded'
        )
        await this.fetchDetailProduct({
          slug: this.$route.params.slug
        })
        await this.fetchListReview({
          slug: `${this.$route.params.slug}`,
          page: 1,
          limit: 5
        })
      } catch (err) {
        if (err.message != undefined) {
          this.notifyToast('error', 'error.createFailed', err.message)
        } else {
          this.notifyToast('error', 'error.createFailed', 'error.server')
        }
      }
    },
    async deleteComment(commentID) {
      try {
        await this.deleteReview(commentID)
        this.notifyToast(
          'success',
          'notification.taskSuccess',
          'notification.deletedSuccess'
        )
        await this.fetchDetailProduct({
          slug: this.$route.params.slug
        })
        await this.fetchListReview({
          slug: `${this.$route.params.slug}`,
          page: 1,
          limit: 5
        })
      } catch (err) {
        if (err.message != undefined) {
          this.notifyToast('error', 'error.createFailed', err.message)
        } else {
          this.notifyToast('error', 'error.taskFailed', 'error.server')
        }
      }
    },
    async editComment(editingComment) {
      try {
        await this.editReview({
          title: editingComment.title,
          content: editingComment.content,
          ratingPoint: editingComment.rating == 'true' ? true : false,
          id: editingComment.id
        })
        this.notifyToast(
          'success',
          'notification.taskSuccess',
          'notification.editSuccess'
        )
        await this.fetchDetailProduct({
          slug: this.$route.params.slug
        })
        await this.fetchListReview({
          slug: `${this.$route.params.slug}`,
          page: 1,
          limit: 5
        })
      } catch (err) {
        if (err.message != undefined) {
          this.notifyToast('error', 'error.taskFailed', err.message)
        } else {
          this.notifyToast('error', 'error.taskFailed', 'error.server')
        }
      }
    }
  },
  head() {
    return {
      title: 'Product',
      description: 'A short dummy description'
    }
  }
}
</script>
