<template>
  <div>
    <!-- Header -->
    <Header />
    <b-container fluid>
      <b-row class="px-5 pt-5">
        <!-- Breadcrumb -->
        <b-col cols="12">
          <Breadcrumb />
        </b-col>
        <!-- Header title -->
        <b-col cols="12">
          <p class="content-title">
            {{ $t('header.product') | upper }} &bull;
            {{ query.category | upper }}
            <span class="content-description">
              ({{ product.totalItems }} {{ $t('header.product') | upper }}s)
            </span>
          </p>
        </b-col>
      </b-row>
      <!-- Main content -->
      <b-row class="px-5 pb-5">
        <!-- Left container -->
        <b-col md="3" class="d-none d-lg-block">
          <LeftContainer
            @on-change-category="onChangeCategory"
            @on-change-sort="onChangeSort"
            @on-change-search="onChangeSearch"
          />
        </b-col>
        <!-- Main container -->
        <b-col cols="12" lg="9">
          <b-container fluid class="p-0">
            <b-row class="no-gutters border-bottom mb-4">
              <b-col cols="6">
                <p class="content-title d-none d-lg-block">
                  {{ query.category | upper }}
                </p>
                <FilterModal
                  class="d-block d-lg-none"
                  @on-change-category="onChangeCategory"
                  @on-change-sort="onChangeSort"
                  @on-change-search="onChangeSearch"
                />
              </b-col>
              <b-col cols="6" class="text-right">
                <div class="d-flex" style="float: right;">
                  <p class="mr-2">
                    {{ $t('label.page') }}
                  </p>
                  <b-pagination
                    v-model="currentPage"
                    :total-rows="product.totalItems"
                    :per-page="12"
                    hide-goto-end-buttons
                    limit="3"
                    pills
                    size="sm"
                    @change="onPaginationChange"
                  ></b-pagination>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col
                v-for="(item, index) in product.data"
                :key="`product-${index}`"
                cols="12"
                md="6"
                xl="4"
              >
                <ListItem :item="item" @item-compare-added="compareAdded" />
              </b-col>
            </b-row>
          </b-container>
        </b-col>
      </b-row>
      <!-- Trending products -->
      <TrendingProduct :items="recommendation" />
    </b-container>
    <b-card
      v-if="comparison.length > 0"
      :title="$t('action.comparison')"
      class="comparison-box"
    >
      <div v-if="comparison[0]" class="d-flex mb-2">
        <b-img :src="comparison[0].thumbnail" width="40" height="40"></b-img>
        <nuxt-link class="m-0 ml-2" :to="`/app/product/${comparison[0].slug}`">
          {{ comparison[0].name }}
        </nuxt-link>
      </div>
      <div v-if="comparison[1]" class="d-flex mb-2">
        <b-img :src="comparison[1].thumbnail" width="40" height="40"></b-img>
        <nuxt-link class="m-0 ml-2" :to="`/app/product/${comparison[1].slug}`">
          {{ comparison[1].name }}
        </nuxt-link>
      </div>
      <div>
        <b-button
          :disabled="comparison.length < 2"
          variant="primary"
          size="sm"
          class="mr-2"
          @click="compare"
        >
          {{ $t('action.compare') }}
        </b-button>
        <b-button variant="danger" size="sm" @click="comparison = []">
          {{ $t('action.clear') }}
        </b-button>
      </div>
    </b-card>
  </div>
</template>
<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import { debounce } from 'lodash'
import {
  TrendingProduct,
  LeftContainer,
  FilterModal,
  Breadcrumb,
  Header
} from '~/components/uncommon/Category'
import { ListItem } from '~/components/common'
export default {
  name: 'CategoryList',
  components: {
    TrendingProduct,
    FilterModal,
    LeftContainer,
    Breadcrumb,
    Header,
    ListItem
  },
  layout: 'Client',
  async fetch({ store, error, query }) {
    try {
      // Clear old filter and viewing in vuex
      await store.commit('category/RESET_FILTER')
      await store.commit('category/SET_VIEWING', {})
      // Check for new filter in query and save to vuex
      if ('page' in query) {
        await store.commit('category/SET_PAGE_FILTER', query.page)
      }
      if ('name' in query) {
        await store.commit('category/SET_SEARCH_FILTER', query.name)
      }
      if ('category' in query) {
        await store.commit('category/SET_CATEGORY_FILTER', query.category)
      }
      if ('sortBy' in query && 'sort' in query) {
        await store.commit(
          'category/SET_SORT_FILTER',
          `${query.sortBy}-${query.sort}`
        )
      }
      // Fetch all product in a category
      await store.dispatch('category/fetchChildrenList')
      // Fetch all recommendation
      await store.dispatch('product/fetchListLimit')
    } catch {
      error({ statusCode: 500, message: 'An error has occurred' })
    }
  },
  data() {
    return {
      currentPage: this.$store.state.category.query.page,
      comparison: []
    }
  },
  computed: mapState({
    product: (state) => state.category.viewing,
    recommendation: (state) => state.product.viewing.recommendation,
    query: (state) => state.category.query
  }),
  methods: {
    ...mapMutations({
      SET_SEARCH_FILTER: 'category/SET_SEARCH_FILTER',
      SET_PAGE_FILTER: 'category/SET_PAGE_FILTER',
      SET_CATEGORY_FILTER: 'category/SET_CATEGORY_FILTER',
      SET_SORT_FILTER: 'category/SET_SORT_FILTER'
    }),
    ...mapActions({
      fetchChildrenList: 'category/fetchChildrenList'
    }),
    changeQueryParams() {
      try {
        history.pushState(
          {},
          '',
          `${this.$route.path}?category=${this.query.category}&name=${this.query.name}&page=${this.query.page}&sortBy=${this.query.sortBy}&sort=${this.query.sort}`
        )
      } catch {
        this.$nuxt.error({
          statusCode: 500,
          message: this.$t('error.unexpected')
        })
      }
    },
    onChangeCategory: debounce(async function (selectedCategory) {
      try {
        await this.SET_CATEGORY_FILTER(selectedCategory)
        await this.fetchChildrenList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({
          statusCode: 500,
          message: this.$t('error.unexpected')
        })
      }
    }, 500),
    onChangeSort: debounce(async function (selectedSort) {
      try {
        await this.SET_SORT_FILTER(selectedSort)
        await this.fetchChildrenList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({
          statusCode: 500,
          message: this.$t('error.unexpected')
        })
      }
    }, 500),
    onChangeSearch: debounce(async function (searchText) {
      try {
        await this.SET_SEARCH_FILTER(searchText)
        await this.fetchChildrenList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({
          statusCode: 500,
          message: this.$t('error.unexpected')
        })
      }
    }, 500),
    onPaginationChange: debounce(async function () {
      try {
        await this.SET_PAGE_FILTER(this.currentPage)
        await this.fetchChildrenList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({
          statusCode: 500,
          message: this.$t('error.unexpected')
        })
      }
    }, 500),
    compareAdded(item) {
      if (this.comparison.length < 2) {
        this.comparison.push(item)
      } else {
        this.notifyToast('error', 'error.taskFailed', 'error.clearCompare')
      }
    },
    compare() {
      if (this.comparison[0].slug == this.comparison[1].slug) {
        this.notifyToast('error', 'error.taskFailed', 'error.compareSame')
      } else {
        this.$router.push(
          `/app/compare/${this.comparison[0].slug}/${this.comparison[1].slug}`
        )
      }
    }
  },
  head() {
    return {
      title: this.query.category.toUpperCase(),
      description: 'Getting yourself one of the best laptop ever'
    }
  }
}
</script>
<style lang="scss" scoped>
.content-title {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.content-description {
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 1px;
}
// Product card
.product-image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  img {
    max-width: 300px;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}
.comparison-box {
  position: fixed;
  right: 25px;
  bottom: 25px;
  min-width: 200px;
}
</style>
