<template>
  <b-container fluid class="p-5">
    <b-row>
      <!-- Profile information -->
      <b-col cols="12" md="5" lg="4">
        <b-card class="h-100" header-tag="header" header-bg-variant="gray-100">
          <template v-slot:header>
            <h6 class="mb-0">
              {{ $t('header.profileInformation') }}
            </h6>
          </template>
          <div class="text-center w-100 mb-4">
            <b-avatar
              :src="previewImage"
              size="12rem"
              button
              :title="isUser ? $t('notification.changeAvatar') : null"
              @click="isUser ? $refs.avatar.$el.childNodes[0].click() : null"
            ></b-avatar>
            <b-form-file
              v-if="isUser"
              ref="avatar"
              v-model="avatarFile"
              class="mt-3"
              name="avatar"
              accept="image/jpeg, image/png"
              size="sm"
              style="display: none;"
              @change="previewAvatar"
            ></b-form-file>
            <div v-if="avatarFile != null">
              <b-button
                variant="primary"
                class="mt-4"
                size="sm"
                :disabled="processing"
                @click="uploadImage"
              >
                <b-spinner v-if="processing" small type="grow"></b-spinner>
                <span v-if="processing">{{ $t('action.loading') }}</span>
                <span v-if="!processing"> {{ $t('action.edit') }}</span>
              </b-button>
              <b-button
                size="sm"
                class="mt-4"
                variant="danger"
                :disabled="processing"
                @click="cancelImage"
              >
                {{ $t('action.cancel') }}
              </b-button>
            </div>
          </div>
          <div class="d-flex">
            <p class="mr-5 font-weight-bold">
              {{ $t('label.name') }}
            </p>
            <p>
              {{ name }}
            </p>
          </div>
          <div class="d-flex">
            <p class="mr-5 font-weight-bold">
              {{ $t('label.email') }}
            </p>
            <p>
              {{ email }}
            </p>
          </div>
          <div class="d-flex">
            <p class="mr-5 font-weight-bold">
              {{ $t('label.gender') }}
            </p>
            <p>
              {{ gender == true ? $t('gender.male') : $t('gender.female') }}
            </p>
          </div>
          <div class="d-flex">
            <p class="mr-5 font-weight-bold">
              {{ $t('label.role') }}
            </p>
            <p>
              {{ $t(`role.${role}`) }}
            </p>
          </div>
        </b-card>
      </b-col>
      <!-- Information and edit -->
      <b-col cols="12" md="7" lg="8">
        <b-card class="h-100" no-body>
          <b-tabs small card>
            <!-- Info tab -->
            <b-tab title="Info" active>
              <p class="font-1.5 text-uppercase">
                {{ $t('profile.recent') }}
                {{ name }}
              </p>
              <div style="overflow-y: auto; height: 300px;" class="p-2">
                <div
                  v-for="(item, index) in recentComments"
                  :key="`comment-${index}`"
                  class="mb-4"
                >
                  <b-card no-body>
                    <div class="bg-dark text-white p-2">
                      {{ name }}
                      {{ $t('profile.commentedOn') }}
                      <nuxt-link :to="`/app/product/${item.Product.slug}`">
                        {{ item.Product.name }}
                      </nuxt-link>
                    </div>
                    <p class="px-3 m-0 font-1.5">
                      {{ $t('label.title') }}: {{ item.title | profanity }}
                    </p>
                    <p class="px-3 m-0 font-1">
                      {{ $t('label.content') }}: {{ item.content | profanity }}
                    </p>
                  </b-card>
                </div>
                <div v-if="recentComments.length == 0">
                  <b-card>
                    <div class="text-center p-5 color-gray-600 font-2">
                      <fa :icon="['fas', 'folder-open']" />
                      <span>{{ $t('placeholder.noRecent') }}</span>
                    </div>
                  </b-card>
                </div>
              </div>
            </b-tab>
            <!-- Edit tab -->
            <b-tab v-if="isUser" title="Edit">
              <ValidationObserver v-slot="{ handleSubmit }">
                <b-form @submit.prevent="handleSubmit(editUser)">
                  <!-- Email -->
                  <ValidationProvider
                    v-slot="{ errors }"
                    mode="lazy"
                    rules="required|email"
                  >
                    <b-form-group
                      id="input-group-1"
                      :label="$t('label.email')"
                      label-for="input-1"
                    >
                      <b-form-input
                        id="input-1"
                        v-model="email"
                        :disabled="processing"
                        :placeholder="$t('placeholder.email')"
                      ></b-form-input>
                      <p class="text-danger">
                        {{ $t(errors[0]) }}
                      </p>
                    </b-form-group>
                  </ValidationProvider>
                  <!-- Name -->
                  <ValidationProvider
                    v-slot="{ errors }"
                    mode="lazy"
                    rules="required|min:6"
                  >
                    <b-form-group
                      id="input-group-2"
                      :label="$t('label.name')"
                      label-for="input-2"
                    >
                      <b-form-input
                        id="input-2"
                        v-model="name"
                        :disabled="processing"
                        :placeholder="$t('placeholder.name')"
                      ></b-form-input>
                      <p class="text-danger">
                        {{ $t(errors[0]) }}
                      </p>
                    </b-form-group>
                  </ValidationProvider>
                  <!-- Gender -->
                  <ValidationProvider
                    v-slot="{ errors }"
                    mode="lazy"
                    rules="required"
                  >
                    <b-form-group
                      id="input-group-3"
                      :label="$t('label.gender')"
                      label-for="input-3"
                    >
                      <b-form-select
                        v-model="gender"
                        :options="genderOptions"
                        :disabled="processing"
                      ></b-form-select>
                      <p class="text-danger">
                        {{ $t(errors[0]) }}
                      </p>
                    </b-form-group>
                  </ValidationProvider>
                  <!-- New password -->
                  <ValidationProvider
                    v-slot="{ errors }"
                    mode="lazy"
                    rules="min:6"
                  >
                    <b-form-group
                      id="input-group-4"
                      :label="$t('label.password')"
                      label-for="input-4"
                    >
                      <b-form-input
                        id="input-4"
                        v-model="password"
                        type="password"
                        :disabled="processing"
                        :placeholder="$t('placeholder.password')"
                      ></b-form-input>
                      <p class="text-danger">
                        {{ $t(errors[0]) }}
                      </p>
                    </b-form-group>
                  </ValidationProvider>
                  <!-- old password -->
                  <ValidationProvider
                    v-if="password.length > 0"
                    v-slot="{ errors }"
                    mode="lazy"
                    rules="required"
                  >
                    <b-form-group
                      id="input-group-5"
                      :label="$t('label.oldPassword')"
                      label-for="input-5"
                    >
                      <b-form-input
                        id="input-5"
                        v-model="oldPassword"
                        type="password"
                        :disabled="processing"
                        :placeholder="$t('placeholder.oldPassword')"
                      ></b-form-input>
                      <p class="text-danger">
                        {{ $t(errors[0]) }}
                      </p>
                    </b-form-group>
                  </ValidationProvider>

                  <b-button
                    variant="primary"
                    size="sm"
                    :disabled="processing"
                    type="submit"
                  >
                    <b-spinner v-if="processing" small type="grow"></b-spinner>
                    <span v-if="processing">{{ $t('action.loading') }}</span>
                    <span v-if="!processing"> {{ $t('action.edit') }}</span>
                  </b-button>
                </b-form>
              </ValidationObserver>
            </b-tab>
          </b-tabs>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'Profile',
  layout: 'Client',
  middleware: 'AuthRequired',
  data() {
    return {
      // Recent comments:
      recentComments: '',
      // Edit form information
      email: '',
      name: '',
      password: '',
      oldPassword: '',
      role: '',
      gender: true,
      genderOptions: [
        { value: true, text: this.$t('gender.male') },
        { value: false, text: this.$t('gender.female') }
      ],
      // Avatar
      avatar: '',
      previewImage: '',
      avatarFile: null,
      // Processing to prevent API spam
      processing: false,
      isUser: false
    }
  },
  created() {
    if (this.$store.state.user.currentUser.id == this.$route.params.id) {
      this.isUser = true
    }
  },
  mounted() {
    this.getUser()
  },
  methods: {
    previewAvatar(e) {
      this.previewImage = URL.createObjectURL(e.target.files[0])
    },
    cancelImage() {
      this.avatarFile = null
      this.previewImage = this.avatar
    },
    async uploadImage() {
      try {
        this.processing = true
        const data = new FormData()
        data.append('photo', this.avatarFile)
        const response = await this.$axios.put(
          `/user/${this.$route.params.id}/upload`,
          data,
          {
            headers: {
              'x-access-token': Cookie.get('token')
            }
          }
        )
        if (response.data.error == undefined) {
          this.notifyToast(
            'success',
            'notification.taskSuccess',
            'notification.avatarEdited'
          )
          this.getUser()
        } else {
          this.notifyToast(
            'error',
            'error.dataFailed',
            response.data.error.message
          )
        }
      } catch {
        this.notifyToast('error', 'error.dataFailed', 'error.server')
      } finally {
        this.avatarFile = null
        this.processing = false
      }
    },
    // get current user for edit
    async getUser() {
      // Get current user using token
      try {
        this.processing = true
        const response = await this.$axios.get(
          `/user/${this.$route.params.id}`,
          {
            headers: {
              'x-access-token': Cookie.get('token')
            }
          }
        )
        if (response.data.error == undefined) {
          this.email = response.data.data.email
          this.name = response.data.data.name
          this.gender = response.data.data.gender
          this.role = response.data.data.Role.name
          this.recentComments = response.data.data.comments
          if (response.data.data.avatar == null) {
            this.previewImage = require('~/assets/img/default-user.jpg')
          } else {
            this.previewImage = response.data.data.avatar
            this.avatar = response.data.data.avatar
          }
        } else {
          this.$nuxt.error({ statusCode: 404, message: 'Page not found' })
        }
      } catch {
        this.$nuxt.error({ statusCode: 404, message: 'Page not found' })
      } finally {
        this.processing = false
      }
    },
    // API to edit user
    async editUser() {
      try {
        this.processing = true
        const user = {
          email: this.email,
          name: this.name,
          password: this.password,
          gender: this.gender,
          oldPassword: this.oldPassword
        }
        if (this.password.length == 0) {
          delete user['password']
          delete user['oldPassword']
        }
        const response = await this.$axios.put(
          `/user/${this.$route.params.id}`,
          user,
          {
            headers: {
              'x-access-token': Cookie.get('token')
            }
          }
        )
        if (response.data.error == undefined) {
          this.notifyToast(
            'success',
            'notification.taskSuccess',
            'notification.accountEdited'
          )
        } else {
          this.notifyToast(
            'error',
            'error.editFailed',
            response.data.error.message
          )
        }
      } catch (error) {
        this.notifyToast('error', 'error.editFailed', 'error.server')
      } finally {
        this.processing = false
      }
    }
  },
  head() {
    return {
      title: 'Profile'
    }
  }
}
</script>
