<template>
  <div class="wrapper">
    <ValidationObserver v-slot="{ handleSubmit }">
      <b-form @submit.prevent="handleSubmit(editCategory)">
        <!-- Name -->
        <ValidationProvider
          v-slot="{ errors }"
          mode="lazy"
          rules="required|min:6|max:50"
        >
          <b-form-group
            id="input-group-1"
            :label="`${$t('label.categoryName')}:`"
            label-for="input-1"
          >
            <b-form-input
              id="input-2"
              v-model="name"
              :disabled="processing"
              :placeholder="$t('placeholder.name')"
            ></b-form-input>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <b-button
          variant="primary"
          type="submit"
          size="sm"
          :disabled="processing"
        >
          <b-spinner v-if="processing" small type="grow"></b-spinner>
          <span v-if="processing">
            {{ $t('action.loading') }}
          </span>
          <span v-if="!processing"> {{ $t('action.edit') }}</span>
        </b-button>
      </b-form>
    </ValidationObserver>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'CategoryEdit',
  components: {},
  data() {
    return {
      name: '',
      processing: false
    }
  },
  created() {
    this.$bus.$emit('title', 'Edit Category')
  },
  mounted() {
    this.getCategory()
  },
  layout: 'Admin',
  middleware: 'AdminAuthRequired',
  methods: {
    async editCategory() {
      try {
        this.processing = true
        const response = await this.$axios.put(
          `/category/${this.$route.params.slug}/edit`,
          { name: this.name },
          {
            headers: {
              'x-access-token': Cookie.get('token')
            }
          }
        )
        if (response.data.error == undefined) {
          this.notifyToast(
            'success',
            'notification.taskSuccess',
            'notification.recordEdited'
          )
          setTimeout(() => {
            this.$router.push('/admin/categories')
          }, 1500)
        } else {
          this.notifyToast(
            'error',
            'error.editFailed',
            response.data.error.message
          )
          this.processing = false
        }
      } catch {
        this.notifyToast('error', 'error.taskFailed', 'error.server')
        this.processing = false
      }
    },
    async getCategory() {
      try {
        this.processing = true
        const response = await this.$axios.get(
          `/category/${this.$route.params.slug}`,
          {
            headers: {
              'x-access-token': Cookie.get('token')
            }
          }
        )
        if (response.data.error == undefined) {
          this.email = response.data.data.email
          this.name = response.data.data.name
          this.selectedGender = response.data.data.gender
          this.selectedRole = response.data.data.roleId
        } else {
          this.notifyToast(
            'error',
            'error.dataFailed',
            response.data.error.message
          )
        }
      } catch {
        this.notifyToast('error', 'error.dataFailed', 'error.server')
      } finally {
        this.processing = false
      }
    }
  },
  head() {
    return {
      title: 'Edit Category'
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
</style>
