<template>
  <div class="wrapper">
    <ValidationObserver v-slot="{ handleSubmit }">
      <b-form @submit.prevent="handleSubmit(editUser)">
        <!-- Email -->
        <ValidationProvider
          v-slot="{ errors }"
          mode="lazy"
          rules="required|email"
        >
          <b-form-group
            id="input-group-1"
            :label="$t('label.email')"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              v-model="email"
              :disabled="processing"
              :placeholder="$t('placeholder.email')"
            ></b-form-input>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <!-- Name -->
        <ValidationProvider
          v-slot="{ errors }"
          mode="lazy"
          rules="required|min:6"
        >
          <b-form-group
            id="input-group-2"
            :label="$t('label.name')"
            label-for="input-2"
          >
            <b-form-input
              id="input-2"
              v-model="name"
              :disabled="processing"
              :placeholder="$t('placeholder.name')"
            ></b-form-input>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <!-- Gender -->
        <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
          <b-form-group
            id="input-group-3"
            :label="$t('label.gender')"
            label-for="input-3"
          >
            <b-form-select
              v-model="selectedGender"
              :options="genderOptions"
              :disabled="processing"
            ></b-form-select>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <!-- Role -->
        <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
          <b-form-group
            id="input-group-4"
            :label="$t('label.role')"
            label-for="input-4"
          >
            <b-form-select
              id="input-4"
              v-model="selectedRole"
              :options="roleOptions"
              :disabled="processing"
            ></b-form-select>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <!-- New password -->
        <ValidationProvider v-slot="{ errors }" mode="lazy" rules="min:6">
          <b-form-group
            id="input-group-4"
            :label="$t('label.password')"
            label-for="input-4"
          >
            <b-form-input
              id="input-4"
              v-model="password"
              type="password"
              :disabled="processing"
              :placeholder="$t('placeholder.password')"
            ></b-form-input>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <!-- old password -->
        <ValidationProvider
          v-if="password.length > 0"
          v-slot="{ errors }"
          mode="lazy"
          rules="required"
        >
          <b-form-group
            id="input-group-5"
            :label="$t('label.oldPassword')"
            label-for="input-5"
          >
            <b-form-input
              id="input-5"
              v-model="oldPassword"
              type="password"
              :disabled="processing"
              :placeholder="$t('placeholder.oldPassword')"
            ></b-form-input>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <b-button
          variant="primary"
          size="sm"
          :disabled="processing"
          type="submit"
        >
          <b-spinner v-if="processing" small type="grow"></b-spinner>
          <span v-if="processing">{{ $t('action.loading') }}</span>
          <span v-if="!processing"> {{ $t('action.edit') }}</span>
        </b-button>
      </b-form>
    </ValidationObserver>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
export default {
  name: 'UserEdit',
  components: {},
  data() {
    return {
      name: '',
      email: '',
      password: '',
      oldPassword: '',
      selectedGender: null,
      genderOptions: [
        {
          value: null,
          text: this.$t('placeholder.gender'),
          disabled: true
        },
        { value: true, text: this.$t('gender.male') },
        { value: false, text: this.$t('gender.female') }
      ],
      selectedRole: null,
      roleOptions: [
        {
          value: null,
          text: this.$t('placeholder.role'),
          disabled: true
        },
        { value: 1, text: this.$t('role.administrator'), disabled: true },
        { value: 2, text: this.$t('role.partner') },
        { value: 4, text: this.$t('role.user') }
      ],
      processing: false
    }
  },
  created() {
    this.$bus.$emit('title', 'Edit user')
  },
  mounted() {
    this.getUser()
  },
  layout: 'Admin',
  middleware: ['AdminAuthRequired', 'isAdmin'],
  methods: {
    async editUser() {
      try {
        this.processing = true
        const user = {
          id: this.$route.params.id,
          email: this.email,
          name: this.name,
          gender: this.selectedGender,
          password: this.password,
          oldPassword: this.oldPassword,
          roleId: this.selectedRole
        }
        if (user.password.length == 0) {
          delete user['password']
          delete user['oldPassword']
        }
        const response = await this.$axios.put(`/user/${user.id}`, user, {
          headers: {
            'x-access-token': Cookie.get('token')
          }
        })
        if (response.data.error == undefined) {
          this.notifyToast(
            'success',
            'notification.taskSuccess',
            'notification.accountEdited'
          )
          setTimeout(() => {
            this.$router.push('/admin/users')
          }, 1500)
        } else {
          this.notifyToast(
            'error',
            'error.editFailed',
            response.data.error.message
          )
          this.processing = false
        }
      } catch {
        this.notifyToast('error', 'error.taskFailed', 'error.server')
        this.processing = false
      }
    },
    async getUser() {
      // Get current user using token
      try {
        this.processing = true
        const response = await this.$axios.get(
          `/user/${this.$route.params.id}`,
          {
            headers: {
              'x-access-token': Cookie.get('token')
            }
          }
        )
        if (response.data.error == undefined) {
          this.email = response.data.data.email
          this.name = response.data.data.name
          this.selectedGender = response.data.data.gender
          this.selectedRole = response.data.data.roleId
        } else {
          this.notifyToast(
            'error',
            'error.dataFailed',
            response.data.error.message
          )
        }
      } catch {
        this.notifyToast('error', 'error.dataFailed', 'error.server')
      } finally {
        this.processing = false
      }
    }
  },
  head() {
    return {
      title: 'Edit user'
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
</style>
