<template>
  <div id="sidebar" class="sidebar">
    <!-- User info -->
    <div v-if="$store.state.user.currentUser != null" class="sidebar-user-info">
      <div class="w-100 text-center">
        <b-avatar
          v-if="$store.state.user.currentUser.avatar == null"
          variant="info"
          :src="require('~/assets/img/default-user.jpg')"
          size="3rem"
        ></b-avatar>
        <b-avatar
          v-else
          variant="info"
          :src="$store.state.user.currentUser.avatar"
          size="6rem"
        ></b-avatar>
      </div>
      <div class="text-center">
        <p class="m-0">
          {{ $store.state.user.currentUser.name | upper }}
        </p>
        <p class="m-0 user-badge" style="font-size: 0.8rem;">
          {{
            $t(`role.${$store.state.user.currentUser.roleName.toLowerCase()}`)
              | upper
          }}
        </p>
      </div>
    </div>
    <div role="tablist" class="mb-10 text-gray">
      <!-- User -->
      <b-card no-body class="accordion mb-1">
        <b-card-header
          v-b-toggle="'accordion-1'"
          header-tag="header"
          class="accordion-header"
          role="tab"
          header-bg-variant="white"
        >
          <span class="navigation-header">
            <fa :icon="['fas', `user`]" class="mr-1 color-orange" />
            {{ $t('sidebar.users') }}
          </span>
          <fa
            class="opened"
            :icon="['fas', 'angle-down']"
            style="float: right;"
          />
          <fa
            class="closed"
            :icon="['fas', 'angle-up']"
            style="float: right;"
          />
        </b-card-header>
        <b-collapse
          :id="'accordion-1'"
          accordion="my-accordion"
          role="tabpanel"
          visible
        >
          <b-card-body class="py-0 pl-5">
            <nuxt-link
              to="/admin/users"
              :event="$route.path == '/admin/users' ? '' : 'click'"
              :class="[
                'navigation-item',
                $route.path == '/admin/users' ? 'color-blue' : ''
              ]"
            >
              <p>
                <fa :icon="['fas', 'info-circle']" class="mr-1 color-blue" />
                {{ $t('sidebar.show-users') }}
              </p>
            </nuxt-link>
            <nuxt-link
              v-if="isAdmin"
              to="/admin/users/create"
              :event="$route.path == '/admin/users/create' ? '' : 'click'"
              :class="[
                'navigation-item',
                $route.path == '/admin/users/create' ? 'color-blue' : ''
              ]"
            >
              <p>
                <fa :icon="['fas', `plus-circle`]" class="mr-1 color-green" />
                {{ $t('sidebar.modify-users') }}
              </p>
            </nuxt-link>
            <nuxt-link
              to="/admin/users/deleted"
              :event="$route.path == '/admin/users/deleted' ? '' : 'click'"
              class="navigation-item"
              :class="[
                'navigation-item',
                $route.path == '/admin/users/deleted' ? 'color-blue' : ''
              ]"
            >
              <p>
                <fa :icon="['fas', `trash`]" class="mr-1 color-red" />
                {{ $t('sidebar.trash') }}
              </p>
            </nuxt-link>
          </b-card-body>
        </b-collapse>
      </b-card>
      <!-- Category -->
      <b-card no-body class="accordion mb-1">
        <b-card-header
          v-b-toggle="'accordion-2'"
          header-tag="header"
          class="accordion-header"
          role="tab"
          header-bg-variant="white"
        >
          <span class="navigation-header">
            <fa :icon="['fas', `th`]" class="mr-1 color-green" />
            {{ $t('sidebar.categories') }}
          </span>
          <fa
            class="opened"
            :icon="['fas', 'angle-down']"
            style="float: right;"
          />
          <fa
            class="closed"
            :icon="['fas', 'angle-up']"
            style="float: right;"
          />
        </b-card-header>
        <b-collapse
          :id="'accordion-2'"
          accordion="my-accordion"
          role="tabpanel"
        >
          <b-card-body class="py-0 pl-5">
            <nuxt-link
              to="/admin/categories"
              :event="$route.path == '/admin/categories' ? '' : 'click'"
              :class="[
                'navigation-item',
                $route.path == '/admin/categories' ? 'color-blue' : ''
              ]"
            >
              <p>
                <fa :icon="['fas', `info-circle`]" class="mr-1 color-blue" />
                {{ $t('sidebar.show-categories') }}
              </p>
            </nuxt-link>
            <nuxt-link
              v-if="isAdmin"
              to="/admin/categories/create"
              :event="$route.path == '/admin/categories/create' ? '' : 'click'"
              :class="[
                'navigation-item',
                $route.path == '/admin/categories/create' ? 'color-blue' : ''
              ]"
            >
              <p>
                <fa :icon="['fas', `plus-circle`]" class="mr-1 color-green" />
                {{ $t('sidebar.modify-categories') }}
              </p>
            </nuxt-link>
            <nuxt-link
              to="/admin/categories/deleted"
              :event="$route.path == '/admin/categories/deleted' ? '' : 'click'"
              :class="[
                'navigation-item',
                $route.path == '/admin/categories/deleted' ? 'color-blue' : ''
              ]"
            >
              <p>
                <fa :icon="['fas', `trash`]" class="mr-1 color-red" />
                {{ $t('sidebar.trash') }}
              </p>
            </nuxt-link>
          </b-card-body>
        </b-collapse>
      </b-card>
      <!-- Products -->
      <b-card no-body class="accordion mb-1">
        <b-card-header
          v-b-toggle="'accordion-4'"
          header-tag="header"
          class="accordion-header"
          role="tab"
          header-bg-variant="white"
        >
          <span class="navigation-header">
            <fa :icon="['fas', `archive`]" class="mr-1 color-brown" />
            {{ $t('sidebar.products') }}
          </span>
          <fa
            class="opened"
            :icon="['fas', 'angle-down']"
            style="float: right;"
          />
          <fa
            class="closed"
            :icon="['fas', 'angle-up']"
            style="float: right;"
          />
        </b-card-header>
        <b-collapse
          :id="'accordion-4'"
          accordion="my-accordion"
          role="tabpanel"
        >
          <b-card-body class="py-0 pl-5">
            <nuxt-link
              to="/admin/products"
              :event="$route.path == '/admin/products' ? '' : 'click'"
              :class="[
                'navigation-item',
                $route.path == '/admin/products' ? 'color-blue' : ''
              ]"
            >
              <p>
                <fa :icon="['fas', `info-circle`]" class="mr-1 color-blue" />
                {{ $t('sidebar.show-products') }}
              </p>
            </nuxt-link>
            <nuxt-link
              to="/admin/products/create"
              :event="$route.path == '/admin/products/create' ? '' : 'click'"
              :class="[
                'navigation-item',
                $route.path == '/admin/products/create' ? 'color-blue' : ''
              ]"
            >
              <p>
                <fa :icon="['fas', `plus-circle`]" class="mr-1 color-green" />
                {{ $t('sidebar.modify-products') }}
              </p>
            </nuxt-link>
            <nuxt-link
              to="/admin/products/deleted"
              :event="$route.path == '/admin/products/deleted' ? '' : 'click'"
              :class="[
                'navigation-item',
                $route.path == '/admin/products/deleted' ? 'color-blue' : ''
              ]"
            >
              <p>
                <fa :icon="['fas', `trash`]" class="mr-1 color-red" />
                {{ $t('sidebar.trash') }}
              </p>
            </nuxt-link>
          </b-card-body>
        </b-collapse>
      </b-card>
      <!-- Review -->
      <b-card no-body class="accordion mb-1">
        <b-card-header
          v-b-toggle="'accordion-5'"
          header-tag="header"
          class="accordion-header"
          role="tab"
          header-bg-variant="white"
        >
          <span class="navigation-header">
            <fa :icon="['fas', `thumbs-up`]" class="mr-1 color-blue" />
            {{ $t('sidebar.reviews') }}
          </span>
          <fa
            class="opened"
            :icon="['fas', 'angle-down']"
            style="float: right;"
          />
          <fa
            class="closed"
            :icon="['fas', 'angle-up']"
            style="float: right;"
          />
        </b-card-header>
        <b-collapse
          :id="'accordion-5'"
          accordion="my-accordion"
          role="tabpanel"
        >
          <b-card-body class="py-0 pl-5">
            <nuxt-link
              to="/admin/reviews"
              :event="$route.path == '/admin/reviews' ? '' : 'click'"
              :class="[
                'navigation-item',
                $route.path == '/admin/reviews' ? 'color-blue' : ''
              ]"
            >
              <p>
                <fa :icon="['fas', `info-circle`]" class="mr-1 color-blue" />
                {{ $t('sidebar.show-reviews') }}
              </p>
            </nuxt-link>
          </b-card-body>
        </b-collapse>
      </b-card>
    </div>

    <hr style="border-color: #6c757d; width: 90%;" />
    <!-- Language select -->
    <div class="mx-2 my-4">
      <b-form-select
        v-model="selectedLang"
        :options="lang"
        size="sm"
        class="mr-3"
        style="max-width: 60px;"
      ></b-form-select>
    </div>
  </div>
</template>
<script>
export default {
  name: 'SidebarAdmin',
  data() {
    return {
      selectedLang: null,
      lang: [
        { value: 'en', text: 'EN' },
        { value: 'vi', text: 'VI' }
      ],
      isAdmin:
        this.$store.state.user.currentUser.roleName == 'partner' ? false : true
    }
  },
  watch: {
    selectedLang() {
      this.$i18n.locale = this.selectedLang
      this.$moment.locale(this.selectedLang)
      localStorage.setItem('locale', this.selectedLang)
    }
  },
  mounted() {
    // Language
    if (localStorage.getItem('locale') !== null) {
      this.selectedLang = localStorage.getItem('locale')
      this.$moment.locale(localStorage.getItem('locale'))
    } else {
      this.selectedLang = 'en'
      this.$moment.locale('en')
      localStorage.setItem('locale', 'en')
    }
  }
}
</script>
<style lang="scss" scoped>
// CSS for item
.sidebar {
  height: 100%;
  box-shadow: $shadow;
  .sidebar-user-info {
    font-size: 1rem;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
.user-badge {
  color: $blue;
  font-weight: bold;
}
.accordion {
  cursor: pointer;
  border-radius: 0;
  border: none;
}
.accordion-header {
  border: none;
  &:focus {
    border: none;
    outline: none;
  }
}
.border-left-gray {
  border-left: 5px solid $gray-500;
}
.collapsed > .opened,
:not(.collapsed) > .closed {
  display: none;
}
.navigation-header {
  color: $black;
  user-select: none;
}
.navigation-item {
  text-decoration: none;
  color: $gray-700;
  user-select: none;
  &:hover {
    color: $blue;
  }
}
</style>
