<template>
  <div>
    <Loading />
    <!-- Sidebar -->
    <b-sidebar
      shadow
      :visible="NavbarOpen"
      no-slide
      no-close-on-route-change
      bg-variant="white"
      @shown="NavbarOpen = true"
      @hidden="NavbarOpen = false"
    >
      <template v-slot:title>
        <div class="text-center w-100">
          <nuxt-link to="/" style="text-decoration: none;">
            {{ $t('navbar.brand') }}
          </nuxt-link>
        </div>
      </template>
      <SidebarAdmin />
    </b-sidebar>
    <!-- Content -->
    <div
      :class="NavbarOpen ? 'on-open d-flex flex-column' : ' d-flex flex-column'"
      style="min-height: 100vh;"
    >
      <NavbarAdmin />
      <div class="flex-grow-1 d-flex flex-column">
        <h4 class="header">
          {{ title }}
        </h4>
        <div class="content">
          <nuxt />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Admin',
  components: {
    NavbarAdmin: () =>
      import('~/components/common/Layout/Admin/NavbarAdmin.vue'),
    SidebarAdmin: () =>
      import('~/components/common/Layout/Admin/SidebarAdmin.vue'),
    Loading: () => import('~/components/common/Template/Loading.vue')
  },
  data() {
    return {
      loading: true,
      title: 'No title',
      NavbarOpen: true
    }
  },
  mounted() {
    this.loading = false
    if (window.innerWidth < 991.98) {
      this.NavbarOpen = false
    }
  },
  created() {
    this.$bus.$on('title', (title) => {
      this.title = title
    })
    this.$bus.$on('toggleNav', () => {
      this.NavbarOpen = !this.NavbarOpen
    })
  }
}
</script>
<style lang="scss" scoped>
.on-open {
  position: relative;
  left: 320px;
  width: calc(100% - 320px);
}
.header {
  box-shadow: $shadow-bottom;
  padding: 0.7rem 1.5rem;
  margin: 0;
  height: 50px;
}
.content {
  background-color: $gray-300;
  padding: 2rem 1.5rem;
  flex-grow: 1;
}
@media (max-width: 991.98px) {
  .on-open {
    position: relative;
    left: 0;
    width: 100%;
  }
}
</style>
