<template>
  <b-container fluid class="p-0">
    <Loading />
    <Navbar />
    <nuxt style="min-height: calc(100vh - 329px - 56px);" />
    <Footer />
  </b-container>
</template>

<script>
export default {
  name: 'Client',
  components: {
    Navbar: () => import('~/components/common/Layout/Client/Navbar.vue'),
    Footer: () => import('~/components/common/Layout/Client/Footer.vue'),
    Loading: () => import('~/components/common/Template/Loading.vue')
  }
}
</script>
<style lang="scss" scoped>
.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $white; /* Just to visualize the extent */
  z-index: 9999;
}
.spinner-icon {
  position: fixed; /* change this to fixed */
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 50px;
  height: 50px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
