<template>
  <ValidationObserver ref="comment" v-slot="{ handleSubmit }">
    <b-form @submit.prevent="handleSubmit(submit)">
      <!-- Title -->
      <ValidationProvider
        v-slot="{ errors }"
        mode="lazy"
        rules="required|min:10|max:50"
      >
        <b-form-group
          id="input-group-1"
          :label="`1. ${$t('label.title')}:`"
          label-for="input-1"
        >
          <b-form-input
            id="input-1"
            v-model="comment.title"
            :placeholder="$t('placeholder.commentTitle')"
            :disabled="processing"
          ></b-form-input>
          <p class="text-danger">
            {{ $t(errors[0]) }}
          </p>
        </b-form-group>
      </ValidationProvider>
      <!-- Content -->
      <ValidationProvider
        v-slot="{ errors }"
        mode="lazy"
        rules="required|min:30|max:400"
      >
        <b-form-group
          id="input-group-2"
          :label="`2. ${$t('label.content')}:`"
          label-for="input-2"
        >
          <b-form-textarea
            id="input-2"
            v-model="comment.content"
            :placeholder="$t('placeholder.commentContent')"
            :disabled="processing"
            rows="3"
            max-rows="6"
          ></b-form-textarea>
          <p class="text-danger">
            {{ $t(errors[0]) }}
          </p>
        </b-form-group>
      </ValidationProvider>
      <!-- Rating -->
      <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
        <b-form-group :label="`3. ${$t('label.likeAsk')}`">
          <b-form-radio
            v-model="comment.rating"
            value="true"
            :disabled="processing"
          >
            {{ $t('placeholder.likeProduct') }}
          </b-form-radio>
          <b-form-radio
            v-model="comment.rating"
            value="false"
            :disabled="processing"
          >
            {{ $t('placeholder.dislikeProduct') }}
          </b-form-radio>
          <p class="text-danger">
            {{ $t(errors[0]) }}
          </p>
        </b-form-group>
      </ValidationProvider>
      <b-button
        variant="primary"
        type="submit"
        size="sm"
        :disabled="processing"
      >
        <b-spinner v-if="processing" small type="grow"></b-spinner>
        <span v-if="processing">{{ $t('action.loading') }}</span>
        <span v-if="!processing">{{ $t('action.submit') }}</span>
      </b-button>
    </b-form>
  </ValidationObserver>
</template>
<script>
export default {
  data() {
    return {
      comment: {
        title: '',
        content: '',
        rating: ''
      },
      processing: false
    }
  },
  methods: {
    submit() {
      this.processing = true
      this.$emit('commented', this.comment)
      // Reset validation
      this.comment.title = ''
      this.comment.content = ''
      this.comment.rating = ''
      this.$nextTick(() => {
        this.$refs.comment.reset()
      })
      setTimeout(() => {
        this.processing = false
      }, 3000)
    }
  }
}
</script>
