<template>
  <b-breadcrumb class="bg-white p-0 m-0 mb-1">
    <b-breadcrumb-item to="/app">
      <fa :icon="['fas', `home`]" class="mr-1 color-black" />
      <span class="color-black">
        {{ $t('breadcrumb.home') }}
      </span>
    </b-breadcrumb-item>
    <b-breadcrumb-item :to="`/app/product?category=${product.Category.name}`">
      <span class="color-black">
        {{ product.Category.name }}
      </span>
    </b-breadcrumb-item>
    <b-breadcrumb-item active>
      {{ $t('breadcrumb.productDetail') }}
    </b-breadcrumb-item>
  </b-breadcrumb>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      default: () => {
        return null
      }
    }
  }
}
</script>
