<template>
  <div>
    <div
      v-for="(item, index) in review.data"
      :key="`comment-${index}`"
      class="mb-4"
    >
      <b-card>
        <div class="d-flex position-relative mb-3">
          <b-avatar :src="item.User.avatar" class="mr-3" badge-variant="dark">
            <template v-slot:badge>
              <fa
                v-if="item.ratingPoint"
                :icon="['fas', `thumbs-up`]"
                class="color-blue"
              />
              <fa v-else :icon="['fas', `thumbs-down`]" class="color-red" />
            </template>
          </b-avatar>
          <div>
            <p class="m-0">
              {{ item.User.name }}
              <b-badge
                v-if="item.User.Role.name == 'partner'"
                variant="primary"
              >
                {{ $t('role.partner') | upper }}
              </b-badge>
              <b-badge v-if="item.User.Role.name == 'user'" variant="success">
                {{ $t('role.user') | upper }}
              </b-badge>
              <b-badge
                v-if="item.User.Role.name == 'administrator'"
                variant="danger"
              >
                {{ $t('role.administrator') | upper }}
              </b-badge>
              <b-badge v-if="!item.User.isActive" variant="dark">
                {{ $t('status.banned') | upper }}
              </b-badge>
            </p>
            <p class="m-0">
              {{ $t('label.post-date') }}
              {{ $moment(item.createdAt).format('LLLL') }}
            </p>
          </div>
          <div
            v-if="(currentUser && item.User.id == currentUser.id) || isAdmin"
            class="position-absolute"
            style="top: 0; right: 0;"
          >
            <b-dropdown
              toggle-tag="div"
              no-caret
              variant="link"
              toggle-class="shadow-none"
              right
              size="md"
            >
              <template v-slot:button-content>
                <fa :icon="['fas', `ellipsis-h`]" class="color-gray-600" />
              </template>
              <b-dropdown-item @click="openModal(item)">
                {{ $t('action.edit') }}
              </b-dropdown-item>
              <b-dropdown-item @click="deleteComment(item.id)">
                {{ $t('action.delete') }}
              </b-dropdown-item>
            </b-dropdown>
          </div>
        </div>

        <b-card-title>
          {{ $t('label.title') }}: {{ item.title | profanity }}
        </b-card-title>
        <b-card-text>
          {{ item.content | profanity }}
        </b-card-text>
      </b-card>
    </div>
    <div v-if="review.data.length == 0">
      <b-card>
        <div class="text-center p-5 color-gray-600 font-2">
          <fa :icon="['fas', 'folder-open']" />
          <span>{{ $t('placeholder.noReview') }}</span>
        </div>
      </b-card>
    </div>
    <!-- Modal to edit comment -->
    <b-modal id="editModal" title="Edit comment" hide-footer>
      <ValidationObserver v-slot="{ handleSubmit }">
        <b-form @submit.prevent="handleSubmit(submit)">
          <!-- Title -->
          <ValidationProvider
            v-slot="{ errors }"
            mode="lazy"
            rules="required|min:10|max:50"
          >
            <b-form-group
              id="input-group-3"
              :label="`1. ${$t('label.title')}:`"
              label-for="input-3"
            >
              <b-form-input
                id="input-3"
                v-model="editingComment.title"
                :placeholder="$t('placeholder.commentTitle')"
              ></b-form-input>
              <p class="text-danger">
                {{ $t(errors[0]) }}
              </p>
            </b-form-group>
          </ValidationProvider>
          <!-- Content -->
          <ValidationProvider
            v-slot="{ errors }"
            mode="lazy"
            rules="required|min:30|max:400"
          >
            <b-form-group
              id="input-group-4"
              :label="`2. ${$t('label.content')}:`"
              label-for="input-4"
            >
              <b-form-textarea
                id="input-4"
                v-model="editingComment.content"
                :placeholder="$t('placeholder.commentContent')"
                rows="3"
                max-rows="6"
              ></b-form-textarea>
              <p class="text-danger">
                {{ $t(errors[0]) }}
              </p>
            </b-form-group>
          </ValidationProvider>
          <!-- Rating -->
          <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
            <b-form-group :label="`3. ${$t('label.likeAsk')}`">
              <b-form-radio v-model="editingComment.rating" value="true">
                {{ $t('placeholder.likeProduct') }}
              </b-form-radio>
              <b-form-radio v-model="editingComment.rating" value="false">
                {{ $t('placeholder.dislikeProduct') }}
              </b-form-radio>
              <p class="text-danger">
                {{ $t(errors[0]) }}
              </p>
            </b-form-group>
          </ValidationProvider>
          <div class="text-right">
            <b-button size="sm" variant="primary" type="submit" class="mr-0">
              {{ $t('action.edit') }}
            </b-button>
          </div>
        </b-form>
      </ValidationObserver>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    review: {
      type: Object,
      default: () => {
        return null
      }
    }
  },
  data() {
    return {
      editingComment: {
        title: '',
        content: '',
        rating: '',
        id: ''
      },
      currentUser: this.$store.state.user.currentUser,
      isAdmin:
        this.$store.state.user.currentUser != null &&
        this.$store.state.user.currentUser.roleName == 'administrator'
          ? true
          : false
    }
  },
  methods: {
    submit() {
      this.$emit('commentEdited', this.editingComment)
      this.$bvModal.hide('editModal')
    },
    openModal(comment) {
      this.editingComment.title = comment.title
      this.editingComment.content = comment.content
      this.editingComment.rating = Boolean(comment.ratingPoint)
      this.editingComment.id = comment.id
      this.$bvModal.show('editModal')
    },
    deleteComment(id) {
      this.$emit('commentDeleted', id)
    }
  }
}
</script>
