<template>
  <b-table-simple bordered responsive>
    <b-tbody>
      <b-tr>
        <b-th>{{ $t('table.productID') }}</b-th>
        <b-td>{{ product.id }}</b-td>
      </b-tr>
      <b-tr>
        <b-th>{{ $t('table.productName') }}</b-th>
        <b-td>{{ product.name | upper }}</b-td>
      </b-tr>
      <b-tr>
        <b-th>{{ $t('table.productCategory') }}</b-th>
        <b-td>{{ product.Category.name | upper }}</b-td>
      </b-tr>
      <b-tr>
        <b-th>{{ $t('table.productLike') }}</b-th>
        <b-td>{{ product.countLike }}</b-td>
      </b-tr>
      <b-tr>
        <b-th>{{ $t('table.productDislike') }}</b-th>
        <b-td>{{ product.countDisLike }}</b-td>
      </b-tr>
      <b-tr>
        <b-th>{{ $t('table.productPoint') }}</b-th>
        <b-td>{{ product.ratingPoint }}</b-td>
      </b-tr>
      <b-tr>
        <b-th>{{ $t('table.productPrice') }}</b-th>
        <b-td>{{ product.productDetail.price }}</b-td>
      </b-tr>
      <b-tr>
        <b-th>{{ $t('table.cpu') }}</b-th>
        <b-td>{{ product.productDetail.cpu }}</b-td>
      </b-tr>
      <b-tr>
        <b-th>{{ $t('table.ram') }}</b-th>
        <b-td>{{ product.productDetail.ram }}</b-td>
      </b-tr>
      <b-tr>
        <b-th>{{ $t('table.disksize') }} (Gigabyte) </b-th>
        <b-td>{{ product.productDetail.disksize }}</b-td>
      </b-tr>
      <b-tr>
        <b-th>{{ $t('table.screensize') }} (Inch) </b-th>
        <b-td>{{ product.productDetail.screensize }}</b-td>
      </b-tr>
      <b-tr>
        <b-th>{{ $t('table.productCreatedAt') }}</b-th>
        <b-td>
          {{ $moment(product.productDetail.createdAt).format('L') }}
        </b-td>
      </b-tr>
      <b-tr>
        <b-th>{{ $t('table.productUpdatedAt') }}</b-th>
        <b-td>
          {{ $moment(product.productDetail.updatedAt).format('L') }}
        </b-td>
      </b-tr>
      <b-tr>
        <b-th>{{ $t('table.productPreviewBy') }} </b-th>
        <b-td>{{ product.User.name }}</b-td>
      </b-tr>
    </b-tbody>
  </b-table-simple>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      default: () => {
        return null
      }
    }
  }
}
</script>
