<template>
  <div>
    <b-img fluid :src="product.thumbnail" width="400" height="400"></b-img>
    <b-card style="max-width: 400px;" class="text-center">
      <p class="image-title">
        {{ $t('disclaimer.about-sponsor') }}
      </p>
      <p class="image-subtitle">
        {{ $t('disclaimer.about-refund') }}
      </p>
    </b-card>
  </div>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      default: () => {
        return null
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.image-title {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.image-subtitle {
  font-size: 0.7rem;
  text-transform: uppercase;
}
</style>
