<template>
  <div>
    <div class="product-header">
      <p class="product-name">
        {{ product.name }}
      </p>
      <div class="mb-3 d-flex">
        <h6 class="text-danger m-0">
          {{ $t('label.productPrice') }}: {{ product.productDetail.price }} $
          <b-badge id="like" variant="primary">
            <fa :icon="['fas', `thumbs-up`]" class="mr-1" />
            {{ product.countLike }}
          </b-badge>
          <b-tooltip target="like" triggers="hover">
            {{ $t('tooltip.numberOfLike') }}
          </b-tooltip>
          <b-badge id="dislike" variant="danger">
            <fa :icon="['fas', `thumbs-down`]" class="mr-1" />
            {{ product.countDisLike }}
          </b-badge>
          <b-tooltip target="dislike" triggers="hover">
            {{ $t('tooltip.numberOfDislike') }}
          </b-tooltip>
          <b-badge id="commentAmount" variant="warning">
            <fa :icon="['fas', `users`]" class="mr-1" />
            {{ product.countLike + product.countDisLike }}
          </b-badge>
          <b-tooltip target="commentAmount" triggers="hover">
            {{ $t('tooltip.numberOfReview') }}
          </b-tooltip>
          <b-badge id="point" variant="success">
            <fa :icon="['fas', `percentage`]" class="mr-1" />
            {{ product.ratingPoint }}
          </b-badge>
          <b-tooltip target="point" triggers="hover">
            {{ $t('tooltip.pointOfProduct') }}
          </b-tooltip>
        </h6>
      </div>
    </div>
    <p class="product-title">
      {{ $t('label.productDescription') | upper }}
    </p>
    <ul>
      <li class="mb-2">
        {{ $t('label.ram') }}:
        {{ product.productDetail.ram }}
      </li>
      <li class="mb-2">
        {{ $t('label.cpu') }}:
        {{ product.productDetail.cpu }}
      </li>
      <li class="mb-2">
        {{ $t('label.disksize') }}:
        {{ product.productDetail.disksize }}
        GBs
      </li>
      <li class="mb-2">
        {{ $t('label.screensize') }}:
        {{ product.productDetail.screensize }}
        Inch
      </li>
    </ul>
    <p class="product-title">
      {{ $t('label.productDetail') }}
    </p>
    <ul>
      <li class="mb-2">
        {{ $t('label.post-by') }}:
        {{ product.User.name }}
      </li>
      <li class="mb-2">
        {{ $t('label.productID') }}:
        {{ product.id }}
      </li>
      <li class="mb-2">
        {{ $t('label.post-date') }}:
        {{ $moment(product.productDetail.createdAt).format('L') }}
      </li>
      <li class="mb-2">
        {{ $t('label.last-update') }}:
        {{ $moment(product.productDetail.updatedAt).format('L') }}
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      default: () => {
        return null
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.product-header {
  border-bottom: 1px solid $gray-500;
  margin-bottom: 1.5rem;
}
.product-name {
  font-size: 2.5rem;
  font-weight: bold;
  color: $tech;
}
.product-title {
  font-size: 1.2rem;
  text-transform: uppercase;
}
</style>
