<template>
  <b-container fluid class="wrapper">
    <b-row class="mb-3">
      <!-- Search bar -->
      <b-col cols="6" class="d-flex">
        <b-input-group>
          <b-form-input
            v-model="searchText"
            :placeholder="$t('placeholder.searchByName')"
            style="max-width: 200px;"
            size="sm"
            :disabled="processing"
            @input="onSearch"
          ></b-form-input>
          <template v-slot:append>
            <b-input-group-text>
              <fa :icon="['fas', 'search']" style="cursor: pointer;" />
            </b-input-group-text>
          </template>
        </b-input-group>
      </b-col>
      <b-col cols="6" class="text-right">
        <!-- Table limit select -->
        <b-form-select
          v-model="selectedLimit"
          :options="limitOptions"
          :disabled="processing"
          style="max-width: 60px;"
          size="sm"
          @change="onLimitChange"
        ></b-form-select>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <!-- Main table -->
        <b-table
          id="category-table"
          show-empty
          responsive
          bordered
          hover
          :items="category.data"
          :fields="fields"
          :per-page="selectedLimit"
          @row-contextmenu="handleContextMenu"
        >
          <template v-slot:empty>
            <div v-if="processing" class="text-center p-5">
              <b-spinner></b-spinner>
            </div>
            <div v-else class="text-center p-5 color-gray-600 font-2">
              <fa :icon="['fas', 'folder-open']" />
              <span>{{ $t('placeholder.noData') }}</span>
            </div>
          </template>
          <template v-slot:cell()="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ data.value }}
            </p>
          </template>
        </b-table>
        <!-- Table pagination -->
        <b-pagination
          v-model="currentPage"
          :total-rows="category.totalItems"
          :disabled="processing"
          :per-page="selectedLimit"
          aria-controls="category-table"
          @change="onPaginationChange"
        ></b-pagination>
        <v-contextmenu ref="contextmenu">
          <v-contextmenu-item v-if="isAdmin" @click="editCategory">
            <fa :icon="['fas', 'hammer']" class="color-orange" />
            <span>{{ $t('action.edit') }}</span>
          </v-contextmenu-item>
          <v-contextmenu-item v-if="isAdmin" v-b-modal.deleteModal>
            <fa :icon="['fas', 'trash']" class="color-red" />
            <span>{{ $t('action.ban') }}</span>
          </v-contextmenu-item>
        </v-contextmenu>
        <b-modal id="deleteModal" hide-header>
          <div class="text-center">
            <fa
              :icon="['far', 'times-circle']"
              class="text-danger"
              style="font-size: 7rem;"
            />
            <h3 class="my-3 text-gray">
              {{ $t('modal.confirmTitle') }}
            </h3>
            <p class="text-gray">
              {{ $t('modal.banDescription') }}
            </p>
          </div>
          <template v-slot:modal-footer="{ cancel }">
            <b-button
              size="sm"
              variant="secondary"
              :disabled="processing"
              @click="cancel()"
            >
              {{ $t('action.cancel') }}
            </b-button>
            <b-button
              variant="danger"
              size="sm"
              :disabled="processing"
              @click="banCategory"
            >
              <b-spinner v-if="processing" small type="grow"></b-spinner>
              <span v-if="processing">
                {{ $t('action.loading') }}
              </span>
              <span v-if="!processing"> {{ $t('action.ban') }}</span>
            </b-button>
          </template>
        </b-modal>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import Cookie from 'js-cookie'
import { mapMutations, mapActions, mapState } from 'vuex'
import { debounce } from 'lodash'
export default {
  name: 'CategoryList',
  layout: 'Admin',
  middleware: 'AdminAuthRequired',
  components: {},
  async fetch({ store, error, query }) {
    try {
      // Clear old filter and viewing in vuex state
      await store.commit('category/RESET_FILTER')
      await store.commit('category/SET_VIEWING', {})
      // Get new filter from query
      if ('size' in query) {
        await store.commit('category/SET_LIMIT_FILTER', query.size)
      }
      if ('page' in query) {
        await store.commit('category/SET_PAGE_FILTER', query.page)
      }
      if ('name' in query) {
        await store.commit('category/SET_SEARCH_FILTER', query.name)
      }
      // Fetch new data based on query
      await store.dispatch('category/fetchList')
    } catch {
      error({ statusCode: 500, message: 'An error has occurred' })
    }
  },
  data() {
    return {
      // Table fields
      fields: [
        { key: 'id', label: 'ID' },
        { key: 'name', label: this.$t('table.name') },
        { key: 'slug', label: this.$t('table.slug') },
        { key: 'totalProduct', label: this.$t('table.totalProduct') }
      ],
      // Table limit
      limitOptions: [
        { value: 12, text: '12' },
        { value: 24, text: '24' },
        { value: 36, text: '36' }
      ],
      selectedLimit: this.$store.state.category.query.size,
      // Context menu selected item
      selectedItem: {},
      // Current page
      currentPage: this.$store.state.category.query.page,
      // search text
      searchText: this.$store.state.category.query.name,
      // Processing state to prevent api spamming
      processing: false,
      isAdmin:
        this.$store.state.user.currentUser.roleName == 'partner' ? false : true
    }
  },
  computed: mapState({
    category: (state) => state.category.viewing,
    query: (state) => state.category.query
  }),
  created() {
    this.$bus.$emit('title', 'List Category')
  },
  methods: {
    ...mapMutations({
      SET_SEARCH_FILTER: 'category/SET_SEARCH_FILTER',
      SET_PAGE_FILTER: 'category/SET_PAGE_FILTER',
      SET_LIMIT_FILTER: 'category/SET_LIMIT_FILTER'
    }),
    ...mapActions({
      fetchList: 'category/fetchList'
    }),
    changeQueryParams() {
      history.pushState(
        {},
        '',
        `${this.$route.path}?name=${this.searchText}&page=${this.currentPage}&size=${this.selectedLimit}`
      )
    },
    onPaginationChange: debounce(async function () {
      try {
        await this.SET_PAGE_FILTER(this.currentPage)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 500),
    onLimitChange: debounce(async function () {
      try {
        await this.SET_LIMIT_FILTER(this.selectedLimit)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 500),
    onSearch: debounce(async function () {
      try {
        await this.SET_SEARCH_FILTER(this.searchText)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 500),
    handleContextMenu(item, index, event) {
      event.preventDefault()
      this.selectedItem = item
    },
    editCategory() {
      this.$router.push(`/admin/categories/${this.selectedItem.slug}/edit`)
    },
    async banCategory() {
      try {
        this.processing = true
        const response = await this.$axios.put(
          `/category/${this.selectedItem.slug}/delete`,
          {},
          {
            headers: {
              'x-access-token': Cookie.get('token')
            }
          }
        )
        if (response.data.error == undefined) {
          this.notifyToast(
            'success',
            'notification.taskSuccess',
            'notification.bannedSuccess'
          )
          this.fetchList()
        } else {
          this.notifyToast(
            'error',
            'error.taskFailed',
            response.data.error.message
          )
        }
      } catch {
        this.notifyToast('error', 'error.taskFailed', 'error.server')
      } finally {
        this.$bvModal.hide('deleteModal')
        this.processing = false
      }
    }
  },
  head() {
    return { title: 'Category List' }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
</style>
