<template>
  <b-row class="p-5">
    <b-col cols="12" lg="6" class="mb-4">
      <div>
        <b-img
          src="~/assets/img/homepage/background-6.jpeg"
          fluid
          class="d-block m-auto"
        ></b-img>
      </div>
    </b-col>
    <b-col cols="12" lg="6">
      <div class="m-auto w-70 text-center text-lg-left">
        <h2 class="content-title">
          {{ $t('homepage.ad-12') }}
        </h2>
        <p class="content-description">
          {{ $t('homepage.ad-13') }}
        </p>
        <b-button class="btn-outline" to="/app/product?category=tablet">
          {{ $t('homepage.see-more') }}
        </b-button>
      </div>
    </b-col>
  </b-row>
</template>
<style lang="scss" scoped>
.content-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.content-description {
  font-size: 1rem;
  letter-spacing: 1px;
}
</style>
