<template>
  <b-row class="p-5 bg-gray-200">
    <b-col cols="12" lg="6">
      <div class="m-auto w-70 text-center text-lg-left">
        <h2 class="content-title">
          {{ $t('homepage.ad-3') }}
        </h2>
        <p class="content-description">
          {{ $t('homepage.ad-4') }}
        </p>
        <ul class="content-description">
          <li>{{ $t('homepage.ad-5.list-1') }}</li>
          <li>{{ $t('homepage.ad-5.list-2') }}</li>
          <li>{{ $t('homepage.ad-5.list-3') }}</li>
          <li>{{ $t('homepage.ad-5.list-4') }}</li>
          <li>{{ $t('homepage.ad-5.list-5') }}</li>
        </ul>
      </div>
    </b-col>
    <b-col cols="12" lg="6">
      <div>
        <b-img
          src="~/assets/img/homepage/background-2.jpeg"
          fluid
          class="d-block m-auto"
        ></b-img>
      </div>
    </b-col>
  </b-row>
</template>
<style lang="scss" scoped>
.content-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.content-description {
  font-size: 1rem;
  letter-spacing: 1px;
}
ul {
  list-style: none;
}

ul li:before {
  color: $blue;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  content: '✓';
}
</style>
