<template>
  <b-container fluid class="wrapper">
    <b-row class="mb-3">
      <!-- Search bar -->
      <b-col cols="6" class="d-flex">
        <b-input-group>
          <b-form-input
            v-model="searchText"
            :placeholder="$t('placeholder.searchByName')"
            style="max-width: 200px;"
            :disabled="processing"
            size="sm"
            @input="onSearch"
          ></b-form-input>
          <template v-slot:append>
            <b-input-group-text>
              <fa :icon="['fas', 'search']" style="cursor: pointer;" />
            </b-input-group-text>
          </template>
        </b-input-group>
      </b-col>
      <!-- Table limit -->
      <b-col cols="6" class="text-right">
        <b-form-select
          v-model="selectedLimit"
          :options="limitOptions"
          :disabled="processing"
          style="max-width: 60px;"
          size="sm"
          @change="onLimitChange"
        ></b-form-select>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <!-- Main table -->
        <b-table
          id="user-table"
          responsive
          bordered
          show-empty
          hover
          :items="user.data"
          :fields="fields"
          :per-page="selectedLimit"
          @row-contextmenu="handleContextMenu"
        >
          <template v-slot:cell()="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ data.value }}
            </p>
          </template>
          <template v-slot:empty>
            <div v-if="processing" class="text-center p-5">
              <b-spinner></b-spinner>
            </div>
            <div v-else class="text-center p-5 color-gray-600 font-2">
              <fa :icon="['fas', 'folder-open']" />
              <span>{{ $t('placeholder.noData') }}</span>
            </div>
          </template>
          <template v-slot:cell(gender)="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ data.value == true ? $t('gender.male') : $t('gender.female') }}
            </p>
          </template>
          <template v-slot:cell(Role.name)="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ $t(`role.${data.value}`) }}
            </p>
          </template>
          <template v-slot:cell(isActive)="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer;"
            >
              {{ data.value ? $t(`status.active`) : $t(`status.banned`) }}
            </p>
          </template>
        </b-table>
        <!-- Table pagination -->
        <b-pagination
          v-model="currentPage"
          :total-rows="user.totalItems"
          :per-page="selectedLimit"
          :disabled="processing"
          aria-controls="user-table"
          @change="onPaginationChange"
        ></b-pagination>
        <!-- Context menu -->
        <v-contextmenu ref="contextmenu">
          <v-contextmenu-item
            v-if="isAdmin"
            @click="$router.push(`/admin/users/${selectedItem.id}/edit`)"
          >
            <fa :icon="['fas', 'hammer']" class="color-orange" />
            <span>{{ $t('action.edit') }}</span>
          </v-contextmenu-item>
          <v-contextmenu-item v-if="isAdmin" v-b-modal.deleteModal>
            <fa :icon="['fas', 'trash']" class="color-red" />
            <span>{{ $t('action.ban') }}</span>
          </v-contextmenu-item>
        </v-contextmenu>
        <b-modal id="deleteModal" hide-header>
          <div class="text-center">
            <fa
              :icon="['far', 'times-circle']"
              class="text-danger"
              style="font-size: 7rem;"
            />
            <h3 class="my-3 text-gray">
              {{ $t('modal.confirmTitle') }}
            </h3>
            <p class="text-gray">
              {{ $t('modal.banDescription') }}
            </p>
          </div>
          <template v-slot:modal-footer="{ cancel }">
            <b-button
              size="sm"
              variant="secondary"
              :disabled="processing"
              @click="cancel()"
            >
              {{ $t('action.cancel') }}
            </b-button>
            <b-button
              variant="danger"
              size="sm"
              :disabled="processing"
              @click="banUser"
            >
              <b-spinner v-if="processing" small type="grow"></b-spinner>
              <span v-if="processing">{{ $t('action.loading') }}</span>
              <span v-if="!processing"> {{ $t('action.ban') }}</span>
            </b-button>
          </template>
        </b-modal>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import Cookie from 'js-cookie'
import { debounce } from 'lodash'
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
  name: 'UserList',
  layout: 'Admin',
  middleware: ['AdminAuthRequired'],
  components: {},
  async fetch({ store, error, query }) {
    try {
      // Clear all old filters and viewing in vuex state
      await store.commit('user/RESET_FILTER')
      await store.commit('user/SET_VIEWING', {})
      // Check for filter in query
      if ('size' in query) {
        await store.commit('user/SET_LIMIT_FILTER', query.size)
      }
      if ('page' in query) {
        await store.commit('user/SET_PAGE_FILTER', query.page)
      }
      if ('name' in query) {
        await store.commit('user/SET_SEARCH_FILTER', query.name)
      }
      // Fetch new user data
      await store.dispatch('user/fetchList')
    } catch {
      error({ statusCode: 500, message: 'An error has occurred' })
    }
  },
  data() {
    return {
      // Table fields
      fields: [
        { key: 'id', label: 'ID' },
        { key: 'name', label: this.$t('table.name') },
        { key: 'email', label: this.$t('table.email') },
        { key: 'Role.name', label: this.$t('table.role') },
        { key: 'gender', label: this.$t('table.gender') },
        { key: 'isActive', label: this.$t('table.status') }
      ],
      // Table limit
      limitOptions: [
        { value: 5, text: '5' },
        { value: 10, text: '10' },
        { value: 15, text: '15' }
      ],
      selectedLimit: this.$store.state.user.query.size,
      // Context menu selected item
      selectedItem: {},
      // Current page
      currentPage: this.$store.state.user.query.page,
      // search text
      searchText: this.$store.state.user.query.name,
      processing: false,
      isAdmin:
        this.$store.state.user.currentUser.roleName == 'partner' ? false : true
    }
  },
  computed: mapState({
    user: (state) => state.user.viewing,
    query: (state) => state.user.query
  }),
  created() {
    this.$bus.$emit('title', 'List user')
  },
  methods: {
    ...mapMutations({
      SET_SEARCH_FILTER: 'user/SET_SEARCH_FILTER',
      SET_PAGE_FILTER: 'user/SET_PAGE_FILTER',
      SET_LIMIT_FILTER: 'user/SET_LIMIT_FILTER'
    }),
    ...mapActions({
      fetchList: 'user/fetchList'
    }),
    changeQueryParams() {
      history.pushState(
        {},
        '',
        `${this.$route.path}?name=${this.query.name}&page=${this.query.page}&size=${this.query.size}`
      )
    },
    onPaginationChange: debounce(async function () {
      try {
        await this.SET_PAGE_FILTER(this.currentPage)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 500),
    onLimitChange: debounce(async function () {
      try {
        await this.SET_LIMIT_FILTER(this.selectedLimit)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 500),
    onSearch: debounce(async function () {
      try {
        await this.SET_SEARCH_FILTER(this.searchText)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 500),
    handleContextMenu(item, index, event) {
      event.preventDefault()
      this.selectedItem = item
    },
    async banUser() {
      try {
        this.processing = true
        const response = await this.$axios.put(
          `/user/${this.selectedItem.id}/delete`,
          {},
          {
            headers: {
              'x-access-token': Cookie.get('token')
            }
          }
        )
        if (response.data.error == undefined) {
          this.notifyToast(
            'success',
            'notification.taskSuccess',
            'notification.bannedSuccess'
          )
          await this.fetchList()
        } else {
          this.notifyToast(
            'error',
            'error.taskFailed',
            response.data.error.message
          )
        }
      } catch {
        this.notifyToast('error', 'error.taskFailed', 'error.server')
      } finally {
        this.$bvModal.hide('deleteModal')
        this.processing = false
      }
    }
  },
  head() {
    return { title: 'User List' }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
</style>
