<template>
  <div>
    <Header />
    <b-container class="mt-4">
      <b-row no-gutters>
        <b-col cols="12" class="mb-4">
          <b-button variant="primary" size="sm" @click="$router.back()">
            {{ $t('action.back') }}
          </b-button>
        </b-col>
        <b-col cols="12" lg="6">
          <b-table-simple bordered responsive>
            <b-tbody>
              <b-tr>
                <b-th>{{ productOne.name | upper }}</b-th>
              </b-tr>
              <b-tr>
                <b-td>
                  <b-img :src="productOne.thumbnail" center></b-img>
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  <span>{{ $t('compare.label.like') }}: </span>
                  {{ productOne.countLike }}
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  <span>{{ $t('compare.label.dislike') }}: </span>
                  {{ productOne.countDisLike }}
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  <span>{{ $t('compare.label.point') }}: </span>
                  {{ productOne.ratingPoint }}
                  <div>
                    <b-card
                      v-if="productOne.ratingPoint > 0"
                      bg-variant="success"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.pointPositive') }}
                      </b-card-text>
                    </b-card>
                    <b-card
                      v-else
                      bg-variant="danger"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.pointNegative') }}
                      </b-card-text>
                    </b-card>
                  </div>
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  <span>{{ $t('compare.label.previewDate') }}: </span>
                  {{ $moment(productOneDetail.createdAt).format('L') }}
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  {{ $t('compare.label.cpu') }}:
                  {{ productOneDetail.cpu }}
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  {{ $t('compare.label.disksize') }}:
                  {{ productOneDetail.disksize }} GBs
                  <div>
                    <b-card
                      v-if="
                        productOneDetail.disksize > productTwoDetail.disksize
                      "
                      bg-variant="success"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.betterDisk') }}
                      </b-card-text>
                    </b-card>
                    <b-card
                      v-else
                      bg-variant="danger"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.worseDisk') }}
                      </b-card-text>
                    </b-card>
                  </div>
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  {{ $t('compare.label.price') }}:
                  {{ productOneDetail.price }} US Dollars
                  <div>
                    <b-card
                      v-if="productOneDetail.price > productTwoDetail.price"
                      bg-variant="danger"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.betterPrice') }}
                      </b-card-text>
                    </b-card>
                    <b-card
                      v-else
                      bg-variant="success"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.worsePrice') }}
                      </b-card-text>
                    </b-card>
                  </div>
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  {{ $t('compare.label.ram') }}:
                  {{ productOneDetail.ram }}
                  <div>
                    <b-card
                      v-if="productOneDetail.price > productTwoDetail.price"
                      bg-variant="success"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.betterRAM') }}
                      </b-card-text>
                    </b-card>
                    <b-card
                      v-else
                      bg-variant="danger"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.worseRAM') }}
                      </b-card-text>
                    </b-card>
                  </div>
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  {{ $t('compare.label.screensize') }}:
                  {{ productOneDetail.screensize }} inches
                  <div>
                    <b-card
                      v-if="
                        productOneDetail.screensize >
                        productTwoDetail.screensize
                      "
                      bg-variant="success"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.betterScreen') }}
                      </b-card-text>
                    </b-card>
                    <b-card
                      v-else
                      bg-variant="danger"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.worseScreen') }}
                      </b-card-text>
                    </b-card>
                  </div>
                </b-td>
              </b-tr>
            </b-tbody>
          </b-table-simple>
        </b-col>
        <b-col cols="12" lg="6">
          <b-table-simple bordered responsive>
            <b-tbody>
              <b-tr>
                <b-th>{{ productTwo.name | upper }}</b-th>
              </b-tr>
              <b-tr>
                <b-td>
                  <b-img :src="productTwo.thumbnail" center></b-img>
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  <span>{{ $t('compare.label.like') }}: </span>
                  {{ productTwo.countLike }}
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  <span>{{ $t('compare.label.dislike') }}: </span>
                  {{ productTwo.countDisLike }}
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  <span>{{ $t('compare.label.point') }}: </span>
                  {{ productTwo.ratingPoint }}
                  <div>
                    <b-card
                      v-if="productTwo.ratingPoint > 0"
                      bg-variant="success"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.pointPositive') }}
                      </b-card-text>
                    </b-card>
                    <b-card
                      v-else
                      bg-variant="danger"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.pointNegative') }}
                      </b-card-text>
                    </b-card>
                  </div>
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  <span>{{ $t('compare.label.previewDate') }}: </span>
                  {{ $moment(productTwoDetail.createdAt).format('L') }}
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  {{ $t('compare.label.cpu') }}:
                  {{ productTwoDetail.cpu }}
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  {{ $t('compare.label.disksize') }}:
                  {{ productTwoDetail.disksize }} GBs
                  <div>
                    <b-card
                      v-if="
                        productTwoDetail.disksize > productOneDetail.disksize
                      "
                      bg-variant="success"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.betterDisk') }}
                      </b-card-text>
                    </b-card>
                    <b-card
                      v-else
                      bg-variant="danger"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.worseDisk') }}
                      </b-card-text>
                    </b-card>
                  </div>
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  {{ $t('compare.label.price') }}:
                  {{ productTwoDetail.price }} US Dollars
                  <div>
                    <b-card
                      v-if="productTwoDetail.price > productOneDetail.price"
                      bg-variant="danger"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.betterPrice') }}
                      </b-card-text>
                    </b-card>
                    <b-card
                      v-else
                      bg-variant="success"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.worsePrice') }}
                      </b-card-text>
                    </b-card>
                  </div>
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  {{ $t('compare.label.ram') }}:
                  {{ productTwoDetail.ram }}
                  <div>
                    <b-card
                      v-if="productTwoDetail.price > productOneDetail.price"
                      bg-variant="success"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.betterRAM') }}
                      </b-card-text>
                    </b-card>
                    <b-card
                      v-else
                      bg-variant="danger"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.worseRAM') }}
                      </b-card-text>
                    </b-card>
                  </div>
                </b-td>
              </b-tr>
              <b-tr>
                <b-td>
                  {{ $t('compare.label.screensize') }}:
                  {{ productTwoDetail.screensize }} inches
                  <div>
                    <b-card
                      v-if="
                        productTwoDetail.screensize >
                        productOneDetail.screensize
                      "
                      bg-variant="success"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.betterScreen') }}
                      </b-card-text>
                    </b-card>
                    <b-card
                      v-else
                      bg-variant="danger"
                      text-variant="white"
                      class="text-center"
                    >
                      <b-card-text>
                        {{ $t('compare.evaluation.worseScreen') }}
                      </b-card-text>
                    </b-card>
                  </div>
                </b-td>
              </b-tr>
            </b-tbody>
          </b-table-simple>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import { Header } from '~/components/uncommon/Category'
export default {
  components: {
    Header
  },
  layout: 'Client',
  async fetch({ store, params, error }) {
    try {
      await store.dispatch('product/fetchCompare', {
        slugOne: params.slugOne,
        slugTwo: params.slugTwo
      })
      await store.dispatch('product/fetchListLimit')
    } catch (err) {
      if (err.code == 404) {
        error({ statusCode: 404 })
      } else {
        error({ statusCode: 503, message: 'An error has occurred' })
      }
    }
  },
  data() {
    return {
      productOneScore: 0,
      productTwoScore: 0
    }
  },
  computed: {
    ...mapState({
      productOne: (state) => state.product.viewing.compare.productOne,
      productTwo: (state) => state.product.viewing.compare.productTwo,
      productOneDetail: (state) =>
        state.product.viewing.compare.productOne.productDetail,
      productTwoDetail: (state) =>
        state.product.viewing.compare.productTwo.productDetail,
      recommendation: (state) => state.product.viewing.recommendation
    })
  },

  head() {
    return { title: 'Comparison' }
  }
}
</script>
